input{
    border: none;
    border-bottom: 1px solid #000;
    border-radius: none;
}
.form-control{
    border: 0;
    border-bottom: 1px solid #000;
    height: 25px;
    border-radius: 0;
    font-size: 15px;
    padding: 0;
    color: #000;
    font-weight: 300;
    letter-spacing: 1px;
    box-shadow: none;
}