<app-navigation type="2" title="Checkout"></app-navigation>

<!-- <div class="container">
    <div class="container text-white pt-5 pb-3 text-center">
        <h4>Complete Order</h4>
    </div>
    <div class="row">
        <div class="col-lg-7 p-3 mx-auto">
            <div class="shadow-sm p-3">
                <h4>Order Summary</h4>
                <div class="row" *ngFor="let item of cartService.cart">
                    <div class="p-3 w-100 d-flex">
                        <img [src]="item.product.imgUrl" (load)="item.loaded = true" [hidden]="!item.loaded" alt="" width="80" class="img-fluid rounded shadow-sm">
                        <ng-container *ngIf="!item.loaded">
                            <div style="width: 80px;height: 80px;">
                                <div class="blank_img"></div>
                            </div>
                        </ng-container>
                        <div class="ml-3 d-inline-block align-middle">
                            <p class="mb-0">
                                <a class="text-dark d-inline-block">{{item.product.itemName}}</a>
                            </p>
                            <span class="text-muted font-weight-normal font-italic"
                                *ngIf="item.product.itemCategory">Category: {{item.product.itemCategory}}
                            </span>
                            <br>
                            <span class="text-muted font-weight-normal font-italic">
                                &#8377;{{item.product.itemPrice}} * {{item.qty}} units
                            </span>
                        </div>
                        <hr>
                    </div>
                </div>

                <div class="row" *ngIf="!cartService.appliedCouponcode">
                    <div class="col-lg-10 col-md-10 col-9 px-0">
                        <input type="text" class="form-control rounded-0" placeholder="Enter Coupon Code"
                            [(ngModel)]="couponCode">
                    </div>
                    <div class="col-lg-2 col-md-2 col-3 px-0 mx-0">
                        <button class="btn-primary apply" (click)="applyCoupon()"
                            type="button">Apply</button>
                    </div>
                </div>

                <div class="row" *ngIf="cartService.appliedCouponcode">
                    <div class="col-md-12 p-0">
                        <div class="alert alert-success w-100" role="alert">
                            <div class="row">
                                <div class="col-md-10 col-10">
                                    <p>{{couponCode}} applied successfully!</p>
                                </div>
                                <div class="col-md-2 col-2 text-right">
                                    <i class="fa fa-times" (click)="removeAppliedCoupon()"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row border-bottom my-2">
                    <div class="col-md-8 col-8">Order Sub Total :</div>
                    <div class="col-md-4 col-4 text-right">&#8377;{{cartService.getCartTotal()}}</div>
                </div>
                <div class="row border-bottom my-2">
                    <div class="col-md-8 col-8">Order Discount :</div>
                    <div class="col-md-4 col-4 text-right">&#8377;{{cartService.discount}}</div>
                </div>
                <div class="row border-bottom my-2">
                    <div class="col-md-8 col-8">Order Total :</div>
                    <div class="col-md-4 col-4 text-right">&#8377;{{cartService.getCartTotal() - cartService.discount}}
                    </div>
                </div>
                <p class="text-success" *ngIf="cartService.appliedCouponcode">You get a discount of RS
                    {{cartService.discount}}</p>
                <div class="row border-bottom my-2">
                    <div class="col-md-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="comment" (click)="onCommentCheck()">
                            <label class="form-check-label" for="comment">
                                Include Comment
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="isCommentTextarea">
                        <textarea class="form-control mb-2" [(ngModel)]="comment" placeholder="Write Comment..." cols="30" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-7 p-3 mx-auto">
            <div class="shadow-sm p-3">
                <h4>Select Address</h4>
                <div class="row mb-2 pb-2 border-bottom cursor-pointer" *ngFor="let address of allAddress;" (click)="selectAddress(address)">
                    <div class="col-10">
                        <p class="text-muted m-0">
                            <b>Street: </b>{{address?.street}}
                        </p>
                        <p class="text-muted m-0">
                            <b>City: </b>{{address?.city}}
                        </p>
                        <p class="text-muted m-0">
                            <b>Pincode: </b>{{address?.pincode}}
                        </p>
                        <p class="text-muted m-0" *ngIf="address?.landmark">
                            <b>Landmark: </b>{{address?.landmark}}
                        </p>
                    </div>
                    <div class="col-2 text-right my-auto">
                        <div class="form-check">
                            <input class="form-check-input" [checked]="addressId == address.id" type="radio" name="address"
                                (click)="selectAddress(address)">
                        </div>
                    </div>
                </div>

                <button class="add-address-btn border-dotted w-100 mb-2 mx-auto" (click)="onAddAddress()">
                    Add Address
                </button>
            </div>

            <div class="row my-2" *ngIf="this.theme.data.enableOrder">
                <div class="col-md-6 col-lg-6 col-6">
                    <button class="btn-primary rounded-0 w-100" [ngClass]="{'btn-active': paymentMode == 'cash'}"
                        (click)="changesPaymentMode('cash')">
                        COD
                    </button>
                </div>
                <div class="col-md-6 col-lg-6 col-6">
                    <button class="btn-primary rounded-0 w-100" [ngClass]="{'btn-active': paymentMode == 'online'}"
                        (click)="changesPaymentMode('online')">
                        Online
                    </button>
                </div>
            </div>
            <div class="text-right my-3" *ngIf="this.theme.data.enableOrder">
                <button *ngIf="this.theme.data.enableOrder && paymentMode && !submitted && address"
                    class="btn-primary w-100 mx-auto" type="button" (click)="placeOrder()">Order Now</button>
                <button *ngIf="this.theme.data.enableOrder && paymentMode && submitted" class="btn-primary w-100"
                    type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Please Wait...
                </button>
            </div>
            <div class="text-right my-3" *ngIf="!this.theme.data.enableOrder">
                <button *ngIf="!this.theme.data.enableOrder && !submitted && address" class="btn-primary w-100 mx-auto"
                    type="button" (click)="OrderNow()">Order On Whatsapp</button>
                <button *ngIf="this.theme.data.enableOrder && paymentMode && submitted" class="btn-primary w-100"
                    type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Please Wait...
                </button>
            </div>
        </div>

        <!-- <div class="col-lg-5 p-3 mx-auto" *ngIf="!this.theme.data.enableOrder">
            <div class="shadow-sm p-3">
                <h4>Enter your Personal Information</h4>
                <form (ngSubmit)="OrderNow(orderForm)" #orderForm="ngForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="single-input-item">
                                <label>
                                    <input ngModel required type='text' id='card-name' name='name' placeholder='Name'>
                                </label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="single-input-item">
                                <label>
                                    <input ngModel required type='email' id='card-number' name='email'
                                        placeholder='abc@gmail.com'>
                                </label>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="single-input-item">
                                <label>
                                    <input ngModel required type='text' id='card-number' name='phoneNumber'
                                        placeholder='+91XXXXXXXXXX'>
                                </label>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="single-input-item">
                                <label>
                                    <input ngModel required type='text' id='card-expiration' name='address'
                                        placeholder='Address' class="card-expiration">
                                </label>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="single-input-item">
                                <label>
                                    <input ngModel type='text' id='comment' name='comment' placeholder='Comment'
                                        class="card-expiration">
                                </label>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="text-center p-0 my-2">
                                <button class="btn-primary w-100 mx-auto" type="submit"
                                    [disabled]="!orderForm.valid">Order On Whatsapp</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div> -->
<!-- </div>
</div> -->

<div class="container">
  <h4 class="d-flex justify-content-center my-3">Checkout</h4>
  <div class="row">
    <div class="col-7 mt-4">
      <div class="d-flex justify-content-center">
        <h6 class="my-auto">Already have an Account?</h6>
        <button
          class="py-2 px-4 text-uppercase ml-4 small-text font-weight-bold"
        >
          Sign in
        </button>
      </div>
      <div class="d-flex my-4">
        <div class="hor-line my-auto"></div>
        <h6 class="my-auto mx-2">OR</h6>
        <div class="hor-line my-auto"></div>
      </div>
      <h6 class="d-flex justify-content-center font-weight-bold">
        Checkout without sign in
      </h6>
      <div class="checkout-form mt-3">
        <input type="text" placeholder="Name" class="w-100 p-2" />
        <input type="number" placeholder="Mobile" class="w-100 p-2 my-4" />
        <input type="email" placeholder="Email" class="w-100 p-2" />
        <div class="d-flex inputs my-3">
          <input type="number" placeholder="Pincode" class="p-2" />
          <input type="text" placeholder="City" class="p-2" />
          <input type="text" placeholder="State" class="p-2" />
        </div>
      </div>
    </div>
    <div class="col-5 background-light p-3">
      <h6 class="font-weight-bold">Apply Promo Code</h6>
      <div class="d-flex offer-code-container my-2">
        <i class="fas fa-tags text-danger"></i>
        <input
          type="text"
          name="offercode"
          id="offercode"
          placeholder="PROMO CODE"
          class="text-uppercase"
        />
        <button class="btn-dark text-uppercase small-text px-4 ml-1">
          Apply
        </button>
      </div>
      <h6 class="font-weight-bold my-4">Order Summery</h6>
      <div class="d-flex justify-content-between">
        <p>Actual Amount</p>
        <div class="d-flex">
          <p>₹</p>
          <p class="ml-1">750.00</p>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <p>Shipping Charges</p>
        <div class="d-flex">
          <!-- <p>₹</p> -->
          <p class="ml-1">Free</p>
        </div>
      </div>
      <div class="d-flex justify-content-between mt-4">
        <div>
          <h6 class="font-weight-bold">Amount to Pay</h6>
          <p class="text-danger small-text">Note: Inclusive of all taxes</p>
        </div>
        <div class="d-flex font-weight-bold">
          <p>₹</p>
          <p class="ml-1">750.00</p>
        </div>
      </div>
      <button class="btn-dark text-uppercase w-100 my-3 py-2">
        proceed to payment
      </button>
    </div>
  </div>
</div>

<app-tab></app-tab>
