<div class="sticky-top shadow pb-2 header-2 d-none d-md-block d-lg-block">
  <div class="header col-12 d-none d-md-block d-lg-block">
    <div class="container">
      <div class="row mx-3 py-2">
        <div class="col-md my-auto">
          <i class="fa fa-gift pr-1"></i
          ><span class="fs-12"> Steady Buy 1 Get 1 Bonanza</span>
        </div>
        <div class="col-md-7 my-auto">
          <span class="text-danger fs-12 fw-bold">SHOP NOW</span>
        </div>
        <div class="col-md my-auto">
          <p class="float-right my-auto fs-12">
            <i class="fa fa-gift pr-1 fa-lg"></i>Steady Store
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row my-3 mx-3">
      <div class="col-md my-auto">
        <img src="../../../../../assets/Images/logo.jpg" />
      </div>
      <div class="col-md-7 my-auto">
        <div class="searchbox p-1 d-flex">
          <i class="fas fa-search p-2"></i>
          <input
            type="text"
            id="searchbar"
            class="pl-2"
            placeholder="Find Your Stationary here"
          />
        </div>
      </div>
      <div class="col-md-2 my-auto">
        <div class="float-right">
          <div class="col-md my-auto">
            <p class="float-right my-auto">
              <i
                class="fa fa-shopping-bag pr-4 headicon"
                data-toggle="modal"
                data-target="#exampleModal"
              ></i
              ><i
                class="fas fa-user headicon"
                data-toggle="modal"
                data-target="#signinmodel"
              ></i>
            </p>
            <!-- SIGNUP MODEL -->
            <div
              class="modal fade"
              id="signinmodel"
              tabindex="-1"
              role="dialog"
              aria-labelledby="signinmodelLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span class="float-right mr-2 mt-2" aria-hidden="true"
                      >&times;</span
                    >
                  </button>

                  <div class="modal-body">
                    <app-signin></app-signin>
                  </div>
                </div>
              </div>
            </div>
            <!-- END -->
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar pb-0 navbar-expand-lg">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav p-0">
            <li class="nav-item mx-auto">
              <a class="nav-link">Home</a>
            </li>
            <li class="nav-item mx-auto">
              <a class="nav-link" href="#">Services</a>
              <div class="submenu shadow">
                <ul>
                  <li><a class="nav-link" href="#">Eraser</a></li>
                  <li><a class="nav-link" href="#">Pencil</a></li>
                  <li><a class="nav-link" href="#">Stapler</a></li>
                  <li><a class="nav-link" href="#">Notebook</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item mx-auto">
              <a
                class="nav-link"
                [routerLink]="['/products']"
                routerLinkActive="router-link-active"
                href="#"
                >Product</a
              >
            </li>
            <li class="nav-item mx-auto">
              <a class="nav-link">Gallery</a>
            </li>
            <li class="nav-item mx-auto">
              <a class="nav-link">Categories</a>
            </li>
            <li class="nav-item mx-auto">
              <a class="nav-link">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

<!-- modal bag -->
<div
  class="modal model-cart fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog h-100" role="document">
    <div class="modal-content h-100">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="my-3 mx-2">
          <div class="d-flex">
            <img
              src="../../../../../assets/Images/category/category (1).jpg"
              height="75"
              alt=""
            />
            <div>
              <p class="text-uppercase mobile-product-name ml-2 my-auto">
                MOLTEN MATTE METALLIC LIQUID LIPSTICK - APHRODITE
              </p>
              <div class="d-flex float-right mt-4 mr-4">
                <input
                  class="
                    form-control
                    mx-3
                    bg-light
                    mobile-product-quantity
                    text-center
                  "
                  type="number"
                  name="product-quantity"
                  value="1"
                  id="number"
                />
                <h6 class="my-auto">₹ 645</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Go to Cart</button>
      </div>
    </div>
  </div>
</div>

<!-- Mobile View -->

<div class="navbar d-block d-md-none d-lg-none d-flex">
  <div class="flexlist my-2">
    <button
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="togglebtn"
      (click)="showSidebar()"
    >
      <i class="fa fa-bars"></i>
    </button>
  </div>
  <div class="flexlist text-center">
    <img
      src="./../../../../../assets/Images/logo.jpg"
      class="px-3"
      width="150px"
    />
  </div>
  <div class="flexlist">
    <i
      class="fa fa-shopping-bag"
      data-toggle="modal"
      data-target="#exampleModal"
    ></i>
  </div>
  <div
    class="
      container
      searchrow
      w-100
      border-1
      p-0
      d-block d-md-none d-lg-none d-flex
      mt-2
    "
  >
    <!-- <input type="search" class="searchinput" placeholder="search for your fav product"> -->
    <div class="searchmobilebox px-1 py-2 d-flex">
      <input
        type="text"
        class="w-100 border-0"
        placeholder="search for your fav products"
      />
      <i class="fas fa-search p-2 clblack bg-white"></i>
    </div>
  </div>
</div>

<!-- MOBILE VIEW END -->

<!-- SIDEBAR -->

<div class="d-block d-md-block d-lg-block">
  <div class="body">
    <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)" id="sidebarMenu">
      <div class="row">
        <div class="col-9 bg-light p-0" style="height: 100vh">
          <div class="row">
            <div (click)="toggle()" class="col-4 text-center pl-3">
              <br />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                fill="#746F6D"
              >
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path
                  d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"
                />
              </svg>
            </div>
            <div class="col-8 pl-3">
              <!-- <div>
                <br />
                <img
                  (click)="toggle()"
                  routerLink="{{
                    _themeService.customDomain
                      ? '/home'
                      : '/' + _themeService.domainName + '/home'
                  }}"
                  class="cursor-pointer"
                  width="50%"
                  [src]="_themeService?.data?.brand_logo"
                />
                <br />
                <br />
              </div> -->
              <div class="row">
                <div class="col">
                  <img
                    src="./../../../../../assets/Images/testimonial/sample-1.png"
                    height="50px"
                    width="50"
                    class="circle"
                  />
                </div>
                <div class="col">
                  <p>WELCOME</p>
                  <p>Login/SignUp</p>
                </div>
              </div>
            </div>
          </div>

          <hr class="m-0" />
          <ul class="p-0">
            <ng-container *ngIf="_themeService.data?.mainMenu?.length != 0">
              <ng-container *ngFor="let menu of _themeService.data?.mainMenu">
                <hr class="m-0" />
                <li
                  (click)="toggle()"
                  style="list-style-type: none"
                  class="py-2 px-4"
                >
                  <p
                    class="pl-2 py-2 mb-0"
                    routerLink="{{
                      _themeService.customDomain
                        ? menu.link
                        : '/' + _themeService.domainName + menu.link
                    }}"
                  >
                    {{ menu.title }}
                    <i
                      style="color: #746f6d"
                      class="fa fa-chevron-right float-right"
                    ></i>
                  </p>
                </li>
              </ng-container>
            </ng-container>

            <ng-container
              *ngIf="
                _themeService.data?.mainMenu?.length == 0 ||
                !_themeService.data?.mainMenu
              "
            >
              <ng-container>
                <hr class="m-0" />
                <li
                  (click)="toggle()"
                  style="list-style-type: none"
                  class="py-2 px-4"
                >
                  <p
                    class="pl-1 py-2 mb-0"
                    routerLink="{{
                      _themeService.customDomain
                        ? '/home'
                        : '/' + _themeService.domainName + '/home'
                    }}"
                  >
                    Home
                  </p>
                </li>
              </ng-container>
              <ng-container *ngIf="_themeService?.data?.services?.length > 0">
                <hr class="m-0" />
                <li
                  (click)="toggle()"
                  style="list-style-type: none"
                  class="py-2 px-4"
                >
                  <p
                    class="pl-1 py-2 mb-0"
                    routerLink="{{
                      _themeService.customDomain
                        ? '/services'
                        : '/' + _themeService.domainName + '/services'
                    }}"
                  >
                    {{
                      _themeService.data.serviceHeading
                        ? _themeService.data.serviceHeading
                        : "Services"
                    }}
                  </p>
                </li>
              </ng-container>
              <ng-container *ngIf="_themeService?.data?.products?.length > 0">
                <hr class="m-0" />
                <li
                  (click)="toggle()"
                  style="list-style-type: none"
                  class="py-2 px-4"
                >
                  <p
                    class="pl-1 py-2 mb-0"
                    routerLink="{{
                      _themeService.customDomain
                        ? '/products'
                        : '/' + _themeService.domainName + '/products'
                    }}"
                  >
                    {{
                      _themeService.data.productHeading
                        ? _themeService.data.productHeading
                        : "Products"
                    }}
                  </p>
                </li>
              </ng-container>
              <ng-container *ngIf="_themeService?.data?.gallery?.length > 0">
                <hr class="m-0" />
                <li
                  (click)="toggle()"
                  style="list-style-type: none"
                  class="py-2 px-4"
                >
                  <p
                    class="pl-1 py-2 mb-0"
                    routerLink="{{
                      _themeService.customDomain
                        ? '/gallery'
                        : '/' + _themeService.domainName + '/gallery'
                    }}"
                  >
                    {{
                      _themeService.data.galleryHeading
                        ? _themeService.data.galleryHeading
                        : "Gallery"
                    }}
                  </p>
                </li>
              </ng-container>
              <ng-container
                *ngIf="
                  (_themeService?.data._themeService?.data.payments &&
                    _themeService?.data?.payments?.googlePay) ||
                  _themeService?.data?.payments?.paytm ||
                  _themeService?.data?.payments?.razorPay ||
                  _themeService?.data?.payments?.phonePay ||
                  _themeService?.data?.payments?.razorPay ||
                  _themeService?.data?.payments?.upi ||
                  _themeService?.data.acNo
                "
              >
                <hr class="m-0" />
                <li
                  (click)="toggle()"
                  style="list-style-type: none"
                  class="py-2 px-4"
                >
                  <p
                    class="pl-1 py-2 mb-0"
                    routerLink="{{
                      _themeService.customDomain
                        ? '/payments'
                        : '/' + _themeService.domainName + '/payments'
                    }}"
                  >
                    Payment
                  </p>
                </li>
              </ng-container>
              <ng-container
                *ngIf="
                  _themeService?.data.aboutUs.title ||
                  _themeService?.data.aboutUs.description
                "
              >
                <hr class="m-0" />
                <li
                  (click)="toggle()"
                  style="list-style-type: none"
                  class="py-2 px-4"
                >
                  <p
                    class="pl-1 py-2 mb-0"
                    routerLink="{{
                      _themeService.customDomain
                        ? '/about'
                        : '/' + _themeService.domainName + '/about'
                    }}"
                  >
                    {{
                      _themeService.data.aboutHeading
                        ? _themeService.data.aboutHeading
                        : "About Us"
                    }}
                  </p>
                </li>
              </ng-container>
              <ng-container *ngIf="_themeService?.gallery.length > 0">
                <hr class="m-0" />
                <li
                  (click)="toggle()"
                  style="list-style-type: none"
                  class="py-2 px-4"
                >
                  <p
                    class="pl-1 py-2 mb-0"
                    routerLink="{{
                      _themeService.customDomain
                        ? '/contact'
                        : '/' + _themeService.domainName + '/contact'
                    }}"
                  >
                    Contact Us
                  </p>
                </li>
              </ng-container>
            </ng-container>

            <hr class="m-0" />

            <div
              class="dropdown py-3 pl-4 ml-1"
              *ngIf="_themeService?.data?.multipleLanguage"
            >
              <a
                class="dropdown-toggle cursor-pointer static-primary"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Change Language</a
              >
              <div
                class="dropdown-menu font-12 static-primary"
                style="z-index: 999999"
                aria-labelledby="dropdownMenuButton"
              >
                <a
                  class="dropdown-item"
                  *ngFor="let language of languages"
                  (click)="changeLanguage(language.languageCode)"
                  >{{ language.languageTitle }}</a
                >
              </div>
            </div>
            <hr class="m-0" />
            <li class="fixed-bottom"></li>
          </ul>
        </div>
        <div
          class="col-3"
          style="background: #00000078"
          (click)="toggle()"
        ></div>
      </div>
    </div>
  </div>
</div>

<!-- SIDEBAR END -->
