#sidebarMenu {
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
  z-index: 9999 !important;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  transform: translateX(-110%);
  transition: transform 250ms ease-in-out;
  z-index: -1;
  overflow-y: scroll;
}

.user {
  color: #746f6d;
  font-size: 26px;
}

.header {
  background-color: #ffe49c;
}

/* SEARCHBAR */

.searchbox {
  color: #757575;
  box-shadow: 0px 1px 1px 0.5px #ccc;
  width: 60%;
  border-radius: 2px;
}
#searchbar {
  outline: none;
  border: none;
}

.headicon {
  font-size: 22px;
  cursor: pointer;
}
.fa-user {
  font-weight: lighter !important;
}
/* END */

/* NAVBAR */

.navbar,
.header-2 {
  background-color: white;
}
.navbar-nav {
  width: 100%;
}
.navbar-nav .nav-item .nav-link {
  font-weight: bold;
}
a.nav-link {
  color: black !important;
}

.submenu{
  display: none;
}
.navbar-collapse ul li:hover {
  /* border-left: 1px groove gray;
  border-right: 1px groove gray; */
  border-top: 2px solid black;
  transition: all ease-in-out;
}
.navbar-collapse ul li:hover .submenu{
  display: block;
  position: absolute;
  margin-left: 0px;
  margin-top: 5px;
  background-color: white;
}
.navbar-collapse ul li:hover .submenu ul li:hover{
  border-bottom: 2px solid black;
  border-top: none;
  transition: all ease-in-out;
} 

.navbar-collapse ul li{
  margin-right: 100px;
}
.navbar-collapse ul {
  margin-left: 0px;
  padding: 10px;
}

/* END */

/* TOOGLE BUTTON */

.togglebtn {
  background-color: white;
  outline: none;
  border: none;
  font-size: 20px;
  padding: 5px;
}

/* END */

.searchmobilebox {
  width: 100%;
  padding: 10px 10px;
  
}
.searchrow{
  border-radius: 2px;
  border: 1px solid black;
}

/* MODEL */

/* #signinmodel{
z-index: 999;
} */