<div class="sticky-top shadow pb-2 header-2 d-none d-md-block d-lg-block">
  <div class="header col-12 d-none d-md-block d-lg-block">
    <div class="container">
      <div class="row mx-3 py-2">
        <div class="col-md my-auto">
          <i class="fa fa-gift pr-1"></i
          ><span class="fs-12"> Steady Buy 1 Get 1 Bonanza</span>
        </div>
        <div class="col-md-7 my-auto">
          <span class="text-danger fs-12 fw-bold">SHOP NOW</span>
        </div>
        <div class="col-md my-auto">
          <p class="float-right my-auto fs-12">
            <i class="fa fa-gift pr-1 fa-lg"></i>Steady Store
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row my-3 mx-3">
      <div class="col-md my-auto">
        <img src="../../../../../assets/Images/logo.jpg" />
      </div>
      <div class="col-md-7 my-auto">
        <div class="searchbox p-1 d-flex">
          <i class="fas fa-search p-2"></i>
          <input
            type="text"
            id="searchbar"
            class="pl-2"
            placeholder="Find Your Stationary here"
          />
        </div>
      </div>
      <div class="col-md-2 my-auto">
        <div class="float-right">
          <div class="col-md my-auto">
            <p class="float-right my-auto">
              <i class="fa fa-shopping-bag pr-4 headicon"></i
              ><i class="fas fa-user headicon" data-toggle="modal" data-target="#signinmodel"></i></p>
              <!-- SIGNUP MODEL --> 
              <div class="modal fade" id="signinmodel" tabindex="-1" role="dialog" aria-labelledby="signinmodelLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="float-right mr-2 mt-2" aria-hidden="true">&times;</span>
                      </button>
                    
                    <div class="modal-body">
                      <app-signin></app-signin>
                    </div>
                  </div>
                </div>
              </div>
<!-- END -->
            
          </div>
        </div>
      </div>
    </div>


    <nav class="navbar pb-0 navbar-expand-lg">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav p-0">
            <li class="nav-item mx-auto">
              <a class="nav-link">Home</a>
            </li>
            <li class="nav-item mx-auto">
              <a class="nav-link" href="#">Services</a>
              <div class="submenu shadow">
                <ul>
                  <li><a class="nav-link" href="#">Eraser</a></li>
                  <li><a class="nav-link" href="#">Pencil</a></li>
                  <li><a class="nav-link" href="#">Stapler</a></li>
                  <li><a class="nav-link" href="#">Notebook</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item mx-auto">
              <a
                class="nav-link"
                [routerLink]="['/products']"
                routerLinkActive="router-link-active"
                href="#"
                >Product</a
              >
            </li>
            <li class="nav-item mx-auto">
              <a class="nav-link">Gallery</a>
            </li>
            <li class="nav-item mx-auto">
              <a class="nav-link">Categories</a>
            </li>
            <li class="nav-item mx-auto">
              <a class="nav-link">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

<!-- Mobile View -->

<div class="navbar d-block d-md-none d-lg-none d-flex">
  <div class="flexlist my-2">
    <button
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="togglebtn"
      (click)="showSidebar()"
    >
      <i class="fa fa-bars"></i>
    </button>
  </div>
  <div class="flexlist text-center">
    <img
      src="./../../../../../assets/Images/logo.jpg"
      class="px-3"
      width="150px"
    />
  </div>
  <div class="flexlist">
    <i class="fa fa-shopping-bag"></i>
  </div>
  <div class="container searchrow w-100 border-1 p-0 d-block d-md-none d-lg-none d-flex mt-2">
    <!-- <input type="search" class="searchinput" placeholder="search for your fav product"> -->
    <div class="searchmobilebox px-1 py-2 d-flex">
      
      <input
        type="text"
        class="w-100 border-0 "
        placeholder="search for your fav products"
      />
      <i class="fas fa-search p-2 clblack bg-white"></i>
    </div>
  </div>
</div>



<!-- MOBILE VIEW END -->

<!-- SIDEBAR -->

 <div class="d-block d-md-block d-lg-block">
  <div class="body">
    <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)" id="sidebarMenu">
      <div class="row">
        <div class="col-9 bg-white p-0" style="height: 100vh">
          <div class="row">
            
            <div class="col-10 pt-2 pl-5">
              <div class="d-flex">
                <div class="d-flex align-items-center"> 
                  <img src="./../../../../../assets/Images/testimonial/sample-1.png" 
                  height="50px" width="50" class="rounded-circle">
                </div>
                <div class="d-block align-items-center pl-2">
                  <p class="fs-13 pt-3" style="color: #9CA3AF;">Welcome,<br>
                    <b class="fs-16 fw-bold text-uppercase" style="color: #BF9B30;">Login/SignUp</b>
                  </p>
              
                </div>
              
            </div>

            </div>
            <div (click)="toggle()" class="col-2 text-center p-2">
              <br />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                fill="#746F6D"
              >
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path
                  d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"
                />
              </svg>
            </div>
          </div>


<div class=" d-flex referbanner">
<div class="d-flex align-items-center px-2"><i class="fas fa-gift"></i></div>
<div class="d-block align-items-center fw-bold px-2 py-2"><span class="fs-12">Refer A Friend</span>
<p class="fs-10 fw-bold">Whatever your friend buys,<br>
you get FREE</p>
</div>
<div class="d-flex align-items-start pt-3 px-2">
  <button class="bgwhite clblack p-1 fs-10 referbtn px-3" style="font-size: 7px;">REFER NOW</button>
</div>
</div>


          <hr class="m-0" />
  <ul class="p-0">
                       
                <hr class="m-0" />
                <li
                  style="list-style-type: none"
                  class="py-2 px-4 fw-bold"
                >
                  <p
                    class="pl-1 py-2 mb-0 fw-bold"
                  >
                    Home
                  </p>
                </li>
                
                <hr class="m-0" />
                <li
                data-toggle="collapse" href="#collapse1"
                  style="list-style-type: none"
                  class="py-2 px-4 fw-bold"
                >
                  <p
                    class="pl-1 py-2 mb-0 fw-bold"
                    data-toggle="collapse" href="#collapse1"
                  >
                    Services<i class="fa fa-chevron-right float-right"></i>
                  </p>
                  
                </li>
                <div  id="collapse1" class="panel-collapse collapse sidebardropmenu" >
                  <p class="d-block pl-1 py-2 mb-0">Link 1</p>
                  <p class="d-block pl-1 py-2 mb-0">Link 2</p>
                  <p class="d-block pl-1 py-2 mb-0">Link 3</p>
                </div>
              
            <hr class="m-0" />
            <li
                  style="list-style-type: none"
                  class="py-2 px-4 fw-bold"
                >
                  <p
                    class="pl-1 py-2 mb-0 fw-bold"
                  >
                    Shop by collection
                  </p>
                </li>
                
                <hr class="m-0" />
                <li
                  style="list-style-type: none"
                  class="py-2 px-4 fw-bold"
                >
                  <p
                    class="pl-1 py-2 mb-0 fw-bold"
                  >
                    Contact Us
                  </p>
                </li>
                
                <hr class="m-0" />
                <li
                  style="list-style-type: none"
                  class="py-2 px-4 fw-bold"
                >
                  <p
                    class="pl-1 py-2 mb-0 fw-bold"
                  >
                    About Us
                  </p>
                </li>
                
              
                <hr class="m-0" />
            <li class="fixed-bottom"></li>
          </ul>
        </div>
        <div
          class="col-3"
          style="background: #00000078"
          (click)="toggle()"
        ></div>
      </div>
    </div>
  </div>
</div>



<!-- SIDEBAR END -->
