<div class="sticky-top shadow pb-2 header-2 d-none d-md-block d-lg-block" *ngIf="_themeService?.data">
  <div class="header col-12 d-none d-md-block d-lg-block">
    <div class="container">
      <div class="row mx-3 py-2">
        <div class="col-md my-auto">
          <i class="fa fa-gift pr-1"></i
          ><span class="fs-12"> Steady Buy 1 Get 1 Bonanza</span>
        </div>
        <div class="col-md-7 my-auto">
          <span class="text-danger fs-12 fw-bold">SHOP NOW</span>
        </div>
        <div class="col-md my-auto">
          <p class="float-right my-auto fs-12">
            <i class="fa fa-gift pr-1 fa-lg"></i>Steady Store
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row my-3 mx-3">
      <div class="col-md my-auto">
        <img routerLink="{{_themeService.customDomain?'/home':'/'+_themeService.domainName+'/home'}}"
              class="cursor-pointer" [src]="_themeService?.data?.brand_logo" height="50px">
      </div>
      <div class="col-md-7 my-auto">
        <div class="searchbox p-1 d-flex">
          <i class="fas fa-search p-2"></i>
          <input
            type="text"
            id="searchbar"
            class="pl-2"
            width="100%"
            placeholder="Find Your Stationary here"
          />
        </div>
      </div>
      <div class="col-md-2 my-auto d-flex">
        <div class="float-right">
          <div class="col-md d-flex my-auto">
            <p class="float-right my-auto">
              <i
                class="fa fa-shopping-bag pr-4 headicon"
                data-toggle="modal"
                data-target="#exampleModal"
              ></i
              ><i class="fas fa-user headicon"
              data-toggle="modal"
                data-target="#signinmodel"
                *ngIf="!customerService.customerData && _themeService?.data?.enableEcommerce && _themeService?.data?.enableCart"
                ></i>
            </p>
            <!-- dropdown -->
            <li class="d-flex float-right text-right" *ngIf="customerService.customerData">
              <div class="dropdown my-auto mx-3"
                *ngIf="_themeService?.data?.enableCart && _themeService?.data?.enableEcommerce">
               
                <a class="dropdown-toggle text-primary-contrast cursor-pointer font-18 my-auto"
                  style="color: #746F6D!important;" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <!-- <img src="https://cdn.luxe.digital/media/2019/09/12090457/business-professional-dress-code-men-james-bond-suit-style-luxe-digital.jpg"
                    style="width: 100%;height: 100%;border-radius: 50%;" alt=""> -->
                  <i class="fas fa-users user my-auto"></i>
                  <!-- <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                    width="100%" style="border-radius: 50%" alt=""> -->
                </a>
                <div class="dropdown-menu" style="z-index: 999999;" aria-labelledby="profileDropdown">
                  <a class="dropdown-item" *ngIf="customerService.customerData"
                    routerLink="{{_themeService.customDomain?'/profile':'/'+_themeService.domainName+'/profile'}}">
                    <i class="fa fa-user primary-font-size"></i><span> Profile</span>
                  </a>
                  <a class="dropdown-item" *ngIf="customerService.customerData && _themeService?.data?.enableOrder"
                    routerLink="{{_themeService.customDomain?'/orders':'/'+_themeService.domainName+'/orders'}}">
                    <i class="fa fa-list primary-font-size"></i><span> My Orders</span>
                  </a>
                  <a class="dropdown-item" *ngIf="_themeService.data.enableEcommerce && _themeService?.data?.enableCart"
                    routerLink="{{_themeService.customDomain?'/cart':'/'+_themeService.domainName+'/cart'}}">
                    <span>
                      <i class="fa fa-shopping-cart static-primary"></i> Cart
                    </span>
                    <span *ngIf="cartService.cart.length>0">({{cartService.cart.length}})</span>
                  </a>
                  <a class="dropdown-item" *ngIf="_themeService.data.enableEcommerce && _themeService?.data?.enableCart"
                    routerLink="{{_themeService.customDomain?'/search':'/'+_themeService.domainName+'/search'}}">
                    <span>
                      <i class="fa fa-search static-primary"></i> Search
                    </span>
                  </a>
                  <a class="dropdown-item"
                    *ngIf="!customerService.customerData && _themeService?.data?.enableEcommerce && _themeService?.data?.enableCart"
                    routerLink="{{_themeService.customDomain?'/signin':'/'+_themeService.domainName+'/signin'}}">
                    <i class="fa fa-sign-in"></i> <span> SignIn/SignUp</span>
                  </a>
                  <a class="dropdown-item cursor-pointer"
                    *ngIf="customerService.customerData && _themeService?.data?.enableOrder" (click)="logout()">
                    <i class="fa fa-sign-out"></i> <span> Logout</span>
                  </a>
                </div>
              </div>
              <a *ngIf="_themeService.products.length != 0 && cartService.cart.length>0 && _themeService.data.enableEcommerce && !_themeService?.data?.enableOrder"
                class="static-primary my-auto"
                routerLink="{{_themeService.customDomain?'/cart':'/'+_themeService.domainName+'/cart'}}"
                routerLinkActive="active">
                <span>({{cartService.cart.length}})</span>
                <span>
                  <i class="fa fa-shopping-cart static-primary"></i> Cart
                </span>
              </a> &nbsp;
            </li>
            <!-- end -->
            <!-- SIGNUP MODEL -->
            <div
              class="modal fade"
              id="signinmodel"
              tabindex="-1"
              role="dialog"
              aria-labelledby="signinmodelLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span class="float-right mr-2 mt-2" aria-hidden="true"
                      >&times;</span
                    >
                  </button>

                  <div class="modal-body">
                    <app-signin></app-signin>
                  </div>
                </div>
              </div>
            </div>
            <!-- END -->
          </div>
        </div>


        <!-- <div class="col-3 col-lg-1 d-lg-block d-md-bock d-none">
          <li class="d-flex float-right text-right">
            <div class="dropdown my-auto mx-3"
              *ngIf="_themeService?.data?.enableCart && _themeService?.data?.enableEcommerce">
              <a class="dropdown-toggle text-primary-contrast cursor-pointer font-18 my-auto"
                style="color: #746F6D!important;" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fa fa-user-circle-o user my-auto"></i>
              </a>
              <div class="dropdown-menu" style="z-index: 999999;" aria-labelledby="profileDropdown">
                <a class="dropdown-item" *ngIf="customerService.customerData"
                  routerLink="{{_themeService.customDomain?'/profile':'/'+_themeService.domainName+'/profile'}}">
                  <i class="fa fa-user primary-font-size"></i><span> Profile</span>
                </a>
                <a class="dropdown-item" *ngIf="customerService.customerData && _themeService?.data?.enableOrder"
                  routerLink="{{_themeService.customDomain?'/orders':'/'+_themeService.domainName+'/orders'}}">
                  <i class="fa fa-list primary-font-size"></i><span> My Orders</span>
                </a>
                <a class="dropdown-item" *ngIf="_themeService.data.enableEcommerce && _themeService?.data?.enableCart"
                  routerLink="{{_themeService.customDomain?'/cart':'/'+_themeService.domainName+'/cart'}}">
                  <span>
                    <i class="fa fa-shopping-cart static-primary"></i> Cart
                  </span>
                  <span *ngIf="cartService.cart.length>0">({{cartService.cart.length}})</span>
                </a>
                <a class="dropdown-item" *ngIf="_themeService.data.enableEcommerce && _themeService?.data?.enableCart"
                  routerLink="{{_themeService.customDomain?'/search':'/'+_themeService.domainName+'/search'}}">
                  <span>
                    <i class="fa fa-search static-primary"></i> Search
                  </span>
                </a>
                <a class="dropdown-item"
                  *ngIf="!customerService.customerData && _themeService?.data?.enableEcommerce && _themeService?.data?.enableCart"
                  routerLink="{{_themeService.customDomain?'/signin':'/'+_themeService.domainName+'/signin'}}">
                  <i class="fa fa-sign-in"></i> <span> SignIn/SignUp</span>
                </a>
                <a class="dropdown-item cursor-pointer"
                  *ngIf="customerService.customerData && _themeService?.data?.enableOrder" (click)="logout()">
                  <i class="fa fa-sign-out"></i> <span> Logout</span>
                </a>
              </div>
            </div>
            <a *ngIf="_themeService.products.length != 0 && cartService.cart.length>0 && _themeService.data.enableEcommerce && !_themeService?.data?.enableOrder"
              class="static-primary my-auto"
              routerLink="{{_themeService.customDomain?'/cart':'/'+_themeService.domainName+'/cart'}}"
              routerLinkActive="active">
              <span>({{cartService.cart.length}})</span>
              <span>
                <i class="fa fa-shopping-cart static-primary"></i> Cart
              </span>
            </a> &nbsp;
          </li>
        </div> -->


      </div>
    </div>

    <nav class="navbar pb-0 navbar-expand-lg">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav p-0" >
            <li class="nav-item mx-auto">
              <a class="nav-link"  routerLink="{{_themeService.customDomain?'/home':'/'+_themeService.domainName+'/home'}}"
              routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item mx-auto" *ngIf="_themeService?.data?.services?.length>0">
              <a class="nav-link" 
              routerLink="{{_themeService.customDomain?'/services':'/'+_themeService.domainName+'/services'}}"
              routerLinkActive="active">
              {{_themeService.data.serviceHeading ? _themeService.data.serviceHeading : "Services"}}</a>
              <div class="submenu shadow">
                <ul>
                  <li><a class="nav-link" href="#">Eraser</a></li>
                  <li><a class="nav-link" href="#">Pencil</a></li>
                  <li><a class="nav-link" href="#">Stapler</a></li>
                  <li><a class="nav-link" href="#">Notebook</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item mx-auto" *ngIf="_themeService?.data?.products?.length>0">
              <a
                class="nav-link"
                routerLink="{{_themeService.customDomain?'/products':'/'+_themeService.domainName+'/products'}}"
                routerLinkActive="active">{{_themeService.data.productHeading ? _themeService.data.productHeading :
                "Products"}}</a
              >
            </li>
            <li class="nav-item mx-auto"  *ngIf="_themeService?.data?.gallery?.length>0">
              <a class="nav-link"
              routerLink="{{_themeService.customDomain?'/gallery':'/'+_themeService.domainName+'/gallery'}}"
                routerLinkActive="active">{{_themeService.data.galleryHeading ? _themeService.data.galleryHeading :
                "Gallery"}}</a>
            </li>
            <li class="nav-item mx-auto">
              <a class="nav-link"
              [routerLink]="['/test8/categories']"
                routerLinkActive="router-link-active"
              
              >Categories</a>
            </li>
            <li class="nav-item mx-auto">
              <a class="nav-link"  routerLink="{{_themeService.customDomain?'/contact':'/'+_themeService.domainName+'/contact'}}"
              routerLinkActive="active">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

<!-- modal bag -->
<!-- <div
  class="modal model-cart fade" -->

<!-- modal bag -->
<div
  class="modal right fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog h-100" role="document">
    <div class="modal-content h-100 bagmodel">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold" id="exampleModalLabel">
          <i class="fas fa-shopping-bag"></i>
          My Bag<span>(1)</span>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngFor="let item of cartService.cart">
          <div class="card p-3">
            <div class="d-flex col-12">
              <img
                [src]="item.product.imgUrl"
                (load)="item.loaded = true"
                [hidden]="!item.loaded"
                alt=""
                width="100"
                height="100"
                class="img-fluid rounded shadow-sm"
              />
              <ng-container *ngIf="!item.loaded">
                <div style="width: 100px; height: 100px">
                  <div class="blank_img"></div>
                </div>
              </ng-container>
              <h6 class="ml-2">{{ item.product.itemName }}</h6>
              <i
                class="fas fa-times ml-auto mt-1 text-dark"
                (click)="removeItemFromCart(item.product)"
              ></i>
            </div>
            <div class="d-flex col-12 justify-content-between mt-3 mx-1">
              <p class="font-weight-bold my-auto">
                ₹<span class="ml-1"
                  >{{ item.product.itemPrice }} X {{ item.qty }} = &#8377;{{
                    item.product.itemPrice * item.qty
                  }}</span
                >
              </p>
              <div class="d-flex my-auto">
                <p class="my-auto">QTY.</p>
                <i
                  class="fas fa-minus-circle ml-1 my-auto"
                  (click)="cartService.decrementProductQty(item.product)"
                ></i>
                <p class="font-weight-bold mx-2 my-auto">{{ item.qty }}</p>
                <i
                  class="fas fa-plus-circle my-auto"
                  (click)="cartService.incrementProductQty(item.product)"
                ></i>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="cartService.cart.length == 0">
          <h6>No Item Present in Cart</h6>
        </div>
      </div>
      <div class="modal-footer">
        <div class="d-flex col-12 mb-5 justify-content-between mx-2">
          <p>Total Amount</p>
          <p class="font-weight-bold">₹<span class="ml-1">3666</span></p>
        </div>
        <div class="bg-dark btn-modal-bag-checkout col-12 py-3">
          <h6 class="ml-1 font-weight-bold text-white my-auto">Checkout</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Mobile View -->

<div class="navbar d-block d-md-none d-lg-none d-flex">
  <div class="flexlist my-2">
    <button
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="togglebtn"
      (click)="showSidebar()"
    >
      <i class="fa fa-bars"></i>
    </button>
  </div>
  <div class="flexlist text-center">
    <img routerLink="{{_themeService.customDomain?'/home':'/'+_themeService.domainName+'/home'}}"
              class="cursor-pointer px-3" [src]="_themeService?.data?.brand_logo" height="50px" width="150px">
  
  </div>
  <div class="flexlist">
    <i
      class="fa fa-shopping-bag"
      data-toggle="modal"
      data-target="#exampleModal"
    ></i>
  </div>
  <div
    class="
      container
      searchrow
      w-100
      border-1
      p-0
      d-block d-md-none d-lg-none d-flex
      mt-2
    "
  >
    <!-- <input type="search" class="searchinput" placeholder="search for your fav product"> -->
    <div class="searchmobilebox px-1 py-1 d-flex">
      <input
        type="text"
        class="w-100 border-0"
        placeholder="search for your fav products"
      />
      <i class="fas fa-search p-2 clblack bg-white"></i>
    </div>
  </div>
</div>

<!-- MOBILE VIEW END -->

<!-- SIDEBAR -->

<div class="d-block d-md-block d-lg-block">
  <div class="body">
    <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)" id="sidebarMenu">
      <div class="row">
        <div class="col-9 bg-white p-0" style="height: 100vh">
          <div class="row">
            <div class="col-10 pt-2 pl-5">
              <div class="d-flex">
                <div class="d-flex align-items-center">
                  <img
                    src="./../../../../../assets/Images/testimonial/sample-1.png"
                    height="50px"
                    width="50"
                    class="rounded-circle"
                  />
                </div>
                <div class="d-block align-items-center pl-2">
                  <p class="fs-13 pt-3" style="color: #9ca3af">
                    Welcome,<br />
                    <b
                      class="fs-16 fw-bold text-uppercase"
                      style="color: #bf9b30"
                      [routerLink]="['/test8/signin']" routerLinkActive="router-link-active" 
                      >Login/SignUp</b
                    >
                  </p>
                </div>
              </div>
            </div>
            <div (click)="toggle()" class="col-2 text-center p-2">
              <br />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                fill="#746F6D"
              >
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path
                  d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"
                />
              </svg>
            </div>
          </div>

         <!--  <div class="d-flex referbanner">
            <div class="d-flex align-items-center px-2">
              <i class="fas fa-gift"></i>
            </div>
            <div class="d-block align-items-center fw-bold px-2 pt-2">
              <span class="fs-12">Refer A Friend</span>
              <p class="fs-10 fw-bold">
                Whatever your friend buys,<br />
                you get FREE
              </p>
            </div>
            <div class="d-flex align-items-start pt-3 px-2">
              <button
                class="bgwhite clblack p-1 fs-10 referbtn px-3"
                style="font-size: 7px"
              >
                REFER NOW
              </button>
            </div>
          </div> -->

          <hr class="m-0" />
          <ul class="p-0">
            <hr class="m-0" />
            <li style="list-style-type: none" class="py-2 px-4 fw-bold">
              <p class="pl-1 py-2 mb-0 fw-bold" routerLink="{{_themeService.customDomain?'/home':'/'+_themeService.domainName+'/home'}}"
              routerLinkActive="active">Home</p>
            </li>

            <hr class="m-0" />
            <li
              data-toggle="collapse"
              href="#collapse1"
              style="list-style-type: none"
              class="py-2 px-4 fw-bold"
              *ngIf="_themeService?.data?.services?.length>0"
            >
              <p
                class="pl-1 py-2 mb-0 fw-bold"
                data-toggle="collapse"
                href="#collapse1"
                routerLink="{{_themeService.customDomain?'/services':'/'+_themeService.domainName+'/services'}}"
                routerLinkActive="active">
                {{_themeService.data.serviceHeading ? _themeService.data.serviceHeading : "Services"}}<i class="fa fa-chevron-right float-right"></i>
              </p>
            </li>
            <div id="collapse1" class="panel-collapse collapse sidebardropmenu">
              <p class="d-block pl-1 py-2 mb-0">Link 1</p>
              <p class="d-block pl-1 py-2 mb-0">Link 2</p>
              <p class="d-block pl-1 py-2 mb-0">Link 3</p>
            </div>

            <hr class="m-0" />
            <li style="list-style-type: none" class="py-2 px-4 fw-bold" *ngIf="_themeService?.data?.products?.length>0">
              <p class="pl-1 py-2 mb-0 fw-bold" routerLink="{{_themeService.customDomain?'/products':'/'+_themeService.domainName+'/products'}}"
              routerLinkActive="active">{{_themeService.data.productHeading ? _themeService.data.productHeading :
              "Products"}}</p>
            </li>
                
            <hr class="m-0" />
            <li style="list-style-type: none" class="py-2 px-4 fw-bold" *ngIf="_themeService?.data?.gallery?.length>0">
              <p class="pl-1 py-2 mb-0 fw-bold"
                routerLink="{{_themeService.customDomain?'/gallery':'/'+_themeService.domainName+'/gallery'}}"
                  routerLinkActive="active">{{_themeService.data.galleryHeading ? _themeService.data.galleryHeading :
                  "Gallery"}}</p>
            </li>

            <hr class="m-0" />
            <li style="list-style-type: none" class="py-2 px-4 fw-bold">
              <p class="pl-1 py-2 mb-0 fw-bold" routerLink="{{_themeService.customDomain?'/contact':'/'+_themeService.domainName+'/contact'}}"
              routerLinkActive="active">Contact Us</p>
            </li>

            <hr class="m-0" />
            <li style="list-style-type: none" class="py-2 px-4 fw-bold">
              <p class="pl-1 py-2 mb-0 fw-bold">About Us</p>
            </li>

            <hr class="m-0" />
            <li class="fixed-bottom"></li>
          </ul>
        </div>
        <div
          class="col-3"
          style="background: #00000078"
          (click)="toggle()"
        ></div>
      </div>
    </div>
  </div>
</div>

<!-- SIDEBAR END -->
