#sidebarMenu {
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
  z-index: 9999 !important;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  transform: translateX(-110%);
  transition: transform 250ms ease-in-out;
  z-index: -1;
  overflow-y: scroll;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  color: #000;
  border-bottom: 1px solid #a11011;
}

.menu li a {
  color: #000;
  display: block;
  text-decoration: none;
  padding: 15px;
}

button:focus {
  outline: none !important;
}

.navbar {
  padding: 0rem 1rem !important;
}

.navbar-brand {
  width: 150px !important;
}

p:focus {
  outline: none;
}
/* @media (max-width:768px) {
  .mobile-logo {

    max-width: 108%;
      margin-left: 61px;
  }
} */

.share {
  text-align: right;
  padding-top: 2px;
}

.mobile-header {
  background-color: #fff;
}

.mobile-header-3 {
  background: transparent;
  position: fixed;
  top: 0;
  z-index: 111;
}

.search {
  background-color: #fff;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  padding: 10px;
  // box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.search-icon {
  font-size: 22px!important;
  color: #444;
  margin-right: 10px;
}

.times {
  font-size: 22px!important;
  color: #888;
  font-weight: 100!important;
}

.search-border-left {
  border-left: 1px solid #999;
}

.user {
    color: #746F6D;
    font-size: 26px;
}