<ng-container *ngIf="_themeService.isBrowser">
      <!-- <div class="preloader">
        <img src="assets/landing/assets/images/loading.png" class="preloader__image" alt="">
    </div> --><!-- /.preloader -->

    <div class="page-wrapper">


      <header class="site-header-one stricky site-header-one__fixed-top">
          <div class="container-fluid">
              <div class="site-header-one__logo">
                  <a href="index.html">
                      <img src="assets/landing/assets/images/logo-1-1.png" width="136" alt="">
                  </a>
              </div><!-- /.site-header-one__logo -->
              <div class="main-nav__main-navigation one-page-scroll-menu">
                  <ul class="main-nav__navigation-box">
                      <li class="scrollToLink">
                          <a href="#home">Home</a>
                      </li>
                      <li class="scrollToLink"><a href="#features">Features</a></li>
                      <li class="scrollToLink"><a href="#pricing">Pricing</a></li>
                      <li class="scrollToLink"><a href="#testimonials">Testimonials</a></li>
                      <li class="scrollToLink"><a href="#screens">Designs</a></li>
                  </ul><!-- /.main-nav__navigation-box -->
              </div><!-- /.main-nav__main-navigation -->
              <div class="main-nav__right">
                  <a href="tel:735733066" class="main-nav__cta">
                      <img src="assets/landing/assets/images/shapes/header-phone-1-1.png" alt="">
                      <span>
                          <i>Call Anytime </i>
                          <b>735733066</b>
                      </span>
                  </a><!-- /.main-nav__cta -->
                  <a routerLink="/auth/signup" class="thm-btn main-nav__btn"><span>Get Started</span></a>
              </div><!-- /.main-nav__right -->
          </div><!-- /.container-fluid -->
      </header><!-- /.site-header-one -->

      <section class="banner-one" id="home">

          <img src="assets/landing/assets/images/shapes/banner-shape-1-1.png" class="banner-one__bg-shape-1" alt="">
          <img src="assets/landing/assets/images/shapes/banner-shape-1-2.png" class="banner-one__bg-shape-2" alt="">
          <img src="assets/landing/assets/images/shapes/banner-shape-1-3.png" class="banner-one__bg-shape-3" alt="">
          <img src="assets/landing/assets/images/shapes/banner-shape-1-4.png" class="banner-one__bg-shape-4" alt="">
          <img src="assets/landing/assets/images/shapes/banner-shape-1-5.png" class="banner-one__bg-shape-5" alt="">

          <div class="container">
              <div class="row">
                  <div class="col-lg-6 d-flex" style="margin-top: -6rem;">
                      <div class="my-auto">
                          <div class="banner-one__content">
                              <h3>Create a Website You’re Proud Of</h3>
                              <p>Join thousands of people that trust us for their website.No code required</p>
                              <a href="#" class="thm-btn banner-one__btn"><span>Start Building</span></a>
                              <!-- /.thm-btn banner-one__btn -->
                          </div><!-- /.banner-one__content -->
                      </div><!-- /.my-auto -->
                  </div><!-- /.col-lg-6 -->
                  <div class="col-lg-6 d-flex justify-content-end wow fadeInUp" data-wow-duration="1500ms">
                      <div class="banner-one__image">
                          <img src="assets/landing/assets/res/first.png" alt="">
                      </div><!-- /.banner-one__image -->
                  </div><!-- /.col-lg-6 -->
              </div><!-- /.row -->
          </div><!-- /.container -->
      </section><!-- /.banner-one -->

      <section class="service-one" id="features">
          <div class="container">
              <div class="block-title text-center">
                  <h3>Build Your <span>Unique</span> Online Presence </h3>
                  <p>Whether you’re promoting your business, showcasing your work, opening your store can do it all with the our website builder.</p>
              </div><!-- /.block-title -->
              <div class="row">
                  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0ms">
                      <div class="service-one__single">
                          <h3>Website Speed <br> Optimized</h3>
                          <!-- <p>Lorem ipsum is are many variations of pass.</p> -->
                          <div class="service-one__icon">
                              <i class="oapee-icon-laptop"></i>
                          </div><!-- /.service-one__icon -->
                      </div><!-- /.service-one__single -->
                  </div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
                  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                      <div class="service-one__single">
                          <h3>Mobile Optimized</h3>
                          <!-- <p>Lorem ipsum is are many variations of pass.</p> -->
                          <div class="service-one__icon">
                              <i class="oapee-icon-presentation"></i>
                          </div><!-- /.service-one__icon -->
                      </div><!-- /.service-one__single -->
                  </div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
                  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                      <div class="service-one__single">
                          <h3>Search Engine Optimized</h3>
                          <!-- <p>Lorem ipsum is are many variations of pass.</p> -->
                          <div class="service-one__icon">
                              <i class="oapee-icon-target"></i>
                          </div><!-- /.service-one__icon -->
                      </div><!-- /.service-one__single -->
                  </div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
                  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="300ms">
                      <div class="service-one__single">
                          <h3>Multiple Themes</h3>
                         <!--  <p>Lorem ipsum is are many variations of pass.</p> -->
                          <div class="service-one__icon">
                              <i class="oapee-icon-visualization"></i>
                          </div><!-- /.service-one__icon -->
                      </div><!-- /.service-one__single -->
                  </div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
              </div><!-- /.row -->
          </div><!-- /.container -->
      </section><!-- /.service-one -->

      <section class="cta-four">
          <img src="assets/landing/assets/images/shapes/cta-4-dot-1-1.png" class="cta-four__bg-shape-1" alt="">
          <img src="assets/landing/assets/images/shapes/cta-4-shape-1-1.png" class="cta-four__bg-shape-2" alt="">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6">
                      <div class="cta-four__images">
                          <img src="assets/landing/assets/res/second.png" class="wow fadeInUp"
                              data-wow-duration="1500ms" alt="">
                          <img src="assets/landing/assets/res/third.png" class="wow fadeInUp"
                              data-wow-duration="1500ms" alt="">
                          <img src="assets/landing/assets/res/fourth.png" class="wow fadeInUp"
                              data-wow-duration="1500ms" alt="">
                      </div><!-- /.cta-four__images -->
                  </div><!-- /.col-lg-6 -->
                  <div class="col-lg-6">
                      <div class="cta-four__content">
                          <div class="block-title">
                              <h3>Why Our Website Builder Is the <br> <span>Best Choice</span> for You</h3>
                          </div><!-- /.block-title -->
                          <div class="cta-four__text">
                              <p>Over 5000+ people worldwide choose us to create a website. And you can do it, too.</p>
                          </div><!-- /.cta-four__text -->

                              <p>
                                  You can create a free and professional website all on your own. With our app, you can start with a stunning template and customize it, or get a personpzed website made just for you. When you choose us, you don’t just get a drag and drop website builder. You get the whole website set up by accourding to your requirement. Free reliable web hosting, top security, the best SEO and a dedicated support team to help you along the way.
                              </p>


                          <a href="#" class="thm-btn cta-four__btn"><span>Get Started</span></a>
                          <!-- /.thm-btn cta-four__btn -->
                      </div><!-- /.cta-four__content -->
                  </div><!-- /.col-lg-6 -->
              </div><!-- /.row -->
          </div><!-- /.container -->
      </section><!-- /.cta-four -->
      <section class="cta-three">
          <img src="assets/landing/assets/images/shapes/cta-3-shape-1-2.png" class="cta-three__bg-shape-1" alt="">
          <img src="assets/landing/assets/images/shapes/cta-3-shape-1-1.png" class="cta-three__bg-shape-2" alt="">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6">
                      <div class="cta-three__content">
                          <div class="block-title text-left">
                              <h3>Manage and Grow Your <span>Business Online</span> </h3>
                          </div><!-- /.block-title text-left -->
                          <div class="cta-three__text">
                              <p>Your website is just the beginning. We’ve got the service and
                                tools you need to keep growing. <br>
                                Whather it is Social Media Posts for festivals or Graphic Designs for your business we got you covered.
                              </p>
                              <p>We can also create an Android and Ios application for your business as per Your need</p>
                          </div><!-- /.cta-three__text -->
                          <a routerLink="/auth/signup" class="thm-btn cta-three__btn"><span>Get Started</span></a>
                          <!-- /.thm-btn cta-three__btn -->
                      </div><!-- /.cta-three__content -->
                  </div><!-- /.col-lg-6 -->
                  <div class="col-lg-6 wow fadeInRight" data-wow-duration="1500ms">
                      <div class="cta-three__image">
                          <img src="https://static.wixstatic.com/media/311dce_8e93b2ccee0d47a684a13580bb831b9a~mv2.png/v1/fill/w_560,h_440,al_c,q_85,usm_0.66_1.00_0.01/Brand_Studio_Website.webp" alt="">
                      </div><!-- /.cta-three__image -->
                  </div><!-- /.col-lg-6 -->
              </div><!-- /.row -->
          </div><!-- /.container -->
      </section><!-- /.cta-three -->

      <section class="cta-two">
          <img src="assets/landing/assets/images/shapes/cta-2-shape-1.png" alt="" class="cta-two__bg-shape-1">
          <img src="assets/landing/assets/images/shapes/cta-2-dot-1.png" class="cta-two__bg-shape-2" alt="">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6">
                      <img src="http://layerdrops.com/oapee/assets/images/resources/cta-2-1.png" class="cta-two__content-image" alt="">
                  </div><!-- /.col-lg-6 -->
                  <div class="col-lg-6">
                      <div class="cta-two__content">
                          <div class="block-title text-left">
                              <h3>Take the best website builder <span>anywhere</span> with you everywhere.</h3>
                          </div><!-- /.block-title text-center -->
                          <p>Our mobile app provides you real‑time notifications and analytics. Publish a Image, manage sales, update your website — all from your phone, tablet, or browser.</p>
                          <a href="#" class="thm-btn cta-two__btn"><span>Download Now</span></a>
                          <!-- /.thm-btn cta-two__btn -->
                      </div><!-- /.cta-two__content -->
                  </div><!-- /.col-lg-6 -->
              </div><!-- /.row -->
          </div><!-- /.container -->
      </section><!-- /.cta-two -->

      <section class="video-one">
          <div class="container">
              <div class="video-one__box wow fadeInUp" data-wow-duration="1500ms"
                  style="background-image: url(assets/landing/assets/res/eighth.png);">
                  <div class="video-one__content">
                      <a href="https://www.youtube.com/watch?v=aitb---aDYM" class="video-popup"><i
                              class="fa fa-play"></i></a>
                      <h3>Watch Our Video</h3>
                  </div><!-- /.video-one__content -->
              </div><!-- /.video-one__box -->
          </div><!-- /.container -->
      </section><!-- /.video-one -->

      <section class="pricing-one" id="pricing">
          <div class="container">
              <div class="block-title text-center">
                  <h3>Choose Pricing <span>Plans</span> Suits You</h3>
                  <p>7 Days free trial is available for all plans</p>
              </div><!-- /.block-title text-center -->

              <div class="tabed-content">
                  <div id="month">
                      <div class="row">
                          <div class="col-lg-4 animated fadeInLeft">
                              <div class="pricing-one__single">
                                  <div class="pricing-one__inner">
                                      <i class="oapee-icon-send"></i>
                                      <p>Basic Pack</p>
                                      <h3>&#8377; 2500 </h3>
                                      <ul class="list-unstyled pricing-one__list">
                                          <li><i class="fa fa-check"></i>1 Year</li>
                                          <li><i class="fa fa-check"></i>Anytime Support</li>
                                          <li><i class="fa fa-check"></i>Website setup</li>
                                          <li><i class="fa fa-check"></i>Free Hosting and SSL</li>
                                          <li><i class="fa fa-check"></i>Connect Custom Domain</li>
                                      </ul><!-- /.list-unstyled pricing-one__list -->
                                      <a routerLink="auth/signup" class="thm-btn pricing-one__btn"><span>Choose Plan</span></a>
                                      <!-- /.thm-btn -->
                                  </div><!-- /.pricing-one__inner -->
                              </div><!-- /.pricing-one__single -->
                          </div><!-- /.col-lg-4 -->
                          <div class="col-lg-4 animated fadeInUp">
                              <div class="pricing-one__single">
                                  <div class="pricing-one__inner">
                                      <i class="oapee-icon-shuttle"></i>
                                      <p>Saver Pack</p>
                                      <h3>&#8377; 4500</h3>
                                      <ul class="list-unstyled pricing-one__list">
                                        <li><i class="fa fa-check"></i>2 Year</li>
                                        <li><i class="fa fa-check"></i>Anytime Support</li>
                                        <li><i class="fa fa-check"></i>Website setup</li>
                                        <li><i class="fa fa-check"></i>Free Hosting and SSL</li>
                                        <li><i class="fa fa-check"></i>Connect Custom Domain</li>
                                      </ul><!-- /.list-unstyled pricing-one__list -->
                                      <a routerLink="auth/signup" class="thm-btn pricing-one__btn"><span>Choose Plan</span></a>
                                      <!-- /.thm-btn -->
                                  </div><!-- /.pricing-one__inner -->
                              </div><!-- /.pricing-one__single -->
                          </div><!-- /.col-lg-4 -->
                          <div class="col-lg-4 animated fadeInRight">
                              <div class="pricing-one__single">
                                  <div class="pricing-one__inner">
                                      <i class="oapee-icon-send"></i>
                                      <p>Super Saver Pack</p>
                                      <h3>&#8377; 5000</h3>
                                      <ul class="list-unstyled pricing-one__list">
                                        <li><i class="fa fa-check"></i>3 Year</li>
                                        <li><i class="fa fa-check"></i>Anytime Support</li>
                                        <li><i class="fa fa-check"></i>Website setup</li>
                                        <li><i class="fa fa-check"></i>Free Hosting and SSL</li>
                                        <li><i class="fa fa-check"></i>Connect Custom Domain</li>
                                      </ul><!-- /.list-unstyled pricing-one__list -->
                                      <a routerLink="auth/signup" class="thm-btn pricing-one__btn"><span>Choose Plan</span></a>
                                      <!-- /.thm-btn -->
                                  </div><!-- /.pricing-one__inner -->
                              </div><!-- /.pricing-one__single -->
                          </div><!-- /.col-lg-4 -->
                      </div><!-- /.row -->
                  </div><!-- /#month -->
              </div><!-- /.tabed-content -->

          </div><!-- /.container -->
      </section><!-- /.pricing-one -->

      <section class="testimonials-one" id="testimonials">
          <img src="assets/landing/assets/images/shapes/testi-line-1-1.png" alt="Awesome Image"
              class="testimonials-one__bg-shape-2" />

          <div class="container">
              <img src="assets/landing/assets/images/shapes/testi-map-1-1.png" alt="Awesome Image"
                  class="testimonials-one__bg-shape-1" />
              <div class="row">
                  <div class="col-lg-6 d-flex">
                      <div class="my-auto">
                          <div id="testimonials-slider-pager">
                              <div class="testimonials-slider-pager-one">
                                  <a href="#" class="pager-item active" data-slide-index="0"><img
                                          src="http://layerdrops.com/oapee/assets/images/testimonials/testi-1-6.jpg" alt="Awesome Image" /></a>
                                  <a href="#" class="pager-item" data-slide-index="1"><img
                                          src="http://layerdrops.com/oapee/assets/images/testimonials/testi-1-6.jpg" alt="Awesome Image" /></a>
                                  <a href="#" class="pager-item" data-slide-index="2"><img
                                          src="http://layerdrops.com/oapee/assets/images/testimonials/testi-1-4.jpg" alt="Awesome Image" /></a>
                                  <a href="#" class="pager-item" data-slide-index="3"><img
                                          src="http://layerdrops.com/oapee/assets/images/testimonials/testi-1-4.jpg" alt="Awesome Image" /></a>
                                  <a href="#" class="pager-item" data-slide-index="4"><img
                                          src="http://layerdrops.com/oapee/assets/images/testimonials/testi-1-4.jpg" alt="Awesome Image" /></a>
                                  <a href="#" class="pager-item" data-slide-index="5"><img
                                          src="http://layerdrops.com/oapee/assets/images/testimonials/testi-1-1.jpg" alt="Awesome Image" /></a>
                              </div><!-- /.testimonials-slider-pager-one -->
                              <div class="testimonials-slider-pager-two">
                                  <a href="#" class="pager-item active" data-slide-index="0"><img
                                          src="http://layerdrops.com/oapee/assets/images/testimonials/testi-1-1.jpg" alt="Awesome Image" /></a>
                              </div><!-- /.testimonials-slider-pager-two -->
                          </div><!-- /#testimonials-slider-pager -->
                      </div><!-- /.my-auto -->
                  </div><!-- /.col-lg-6 -->
                  <div class="col-lg-6">
                      <div class="block-title text-left">
                          <h3>Become Our <span>Partner</span></h3>
                      </div><!-- /.block-title text-center -->
                      <p>
                        Create your client sites on the ultimate platform for agencies.
                        Perfect business opportunity for Marketing Agencies, IT Companies, Web Designers, Digital Marketers and Freelancers.
                      </p>
                      <ul>
                        <li>
                          Start your own Website development agency
                        </li>
                        <li>
                          Recurring Earning for our partners
                        </li>
                        <li>Free Training and support</li>
                        <li>
                          Free marketing stratigies and material
                        </li>
                      </ul>
                      <a href="#" class="thm-btn cta-four__btn"><span>Let's Talk</span></a>
                  </div><!-- /.col-lg-6 -->
              </div><!-- /.row -->
          </div><!-- /.container -->
      </section><!-- /.testimonials-one -->

      <section class="funfact-one">
          <div class="container">
              <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0ms">
                      <div class="funfact-one__single">
                          <h3 class="counter">5000+</h3><!-- /.counter -->
                          <p>Websites</p>
                      </div><!-- /.funfact-one__single -->
                  </div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
                  <div class="col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                      <div class="funfact-one__single">
                          <h3 class="counter">30+</h3><!-- /.counter -->
                          <p>Team</p>
                      </div><!-- /.funfact-one__single -->
                  </div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
                  <div class="col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                      <div class="funfact-one__single">
                          <h3 class="counter">50+</h3><!-- /.counter -->
                          <p>Resellers</p>
                      </div><!-- /.funfact-one__single -->
                  </div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
                  <div class="col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="300ms">
                      <div class="funfact-one__single">
                          <h3 class="counter">4000+</h3><!-- /.counter -->
                          <p>Happy clients</p>
                      </div><!-- /.funfact-one__single -->
                  </div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
              </div><!-- /.row -->
          </div><!-- /.container -->
      </section><!-- /.funfact-one -->



      <section class="faq-one">
          <div class="container">
              <div class="block-title text-center">
                  <h3>Frequently Asked <span>Questions</span></h3>
                  <p>Lorem ipsum is are many variations of pass of majority.</p>
              </div><!-- /.block-title text-center -->
              <div class="tab-content">
                  <div class="tab-pane fade show active animated fadeInUp" id="general">
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="accrodion-grp " data-grp-name="faq-accrodion-1">
                                  <div class="accrodion ">
                                      <div class="accrodion-inner">
                                          <div class="accrodion-title">
                                              <h4>Is it easy to build a website?</h4>
                                          </div>
                                          <div class="accrodion-content">
                                              <div class="inner">
                                                  <p>Yes Even a beginner who knows how to Android phone can also create a website is just 30 minutes</p>
                                              </div><!-- /.inner -->
                                          </div>
                                      </div><!-- /.accrodion-inner -->
                                  </div>
                                  <div class="accrodion  ">
                                      <div class="accrodion-inner">
                                          <div class="accrodion-title" style="content:unset!important">
                                              <h4>Can I create a website without knowing how to code?</h4>
                                          </div>
                                          <div class="accrodion-content">
                                              <div class="inner">
                                                  <p>Our Intellegent algorithm does all that for you.You all need to have your business logo and content ready</p>
                                              </div><!-- /.inner -->
                                          </div>
                                      </div><!-- /.accrodion-inner -->
                                  </div>
                                  <div class="accrodion ">
                                      <div class="accrodion-inner">
                                          <div class="accrodion-title">
                                              <h4>How do I make my site mobile friendly?</h4>
                                          </div>
                                          <div class="accrodion-content">
                                              <div class="inner">
                                                  <p>Our platform does is for you automatically. All themes are designed by our best developers and are mobile responsive and user friendly.</p>
                                              </div><!-- /.inner -->
                                          </div>
                                      </div><!-- /.accrodion-inner -->
                                  </div>

                              </div>
                          </div><!-- /.col-lg-6 -->
                          <div class="col-lg-6">
                              <div class="accrodion-grp " data-grp-name="faq-accrodion-2">
                                  <div class="accrodion  ">
                                      <div class="accrodion-inner">
                                          <div class="accrodion-title">
                                              <h4>How do I build and host my site for free?</h4>
                                          </div>
                                          <div class="accrodion-content">
                                              <div class="inner">
                                                  <p>No need to buy a seperate hosting.Free hosting and ssl are included in this plan for free</p>
                                              </div><!-- /.inner -->
                                          </div>
                                      </div><!-- /.accrodion-inner -->
                                  </div>
                                  <div class="accrodion">
                                      <div class="accrodion-inner">
                                          <div class="accrodion-title">
                                              <h4>How can I make changes to my website?</h4>
                                          </div>
                                          <div class="accrodion-content">
                                              <div class="inner">
                                                  <p>The website created is 100% dynamic that is you can change anyting on the website on the go with our User friendly Web and Android admin panel</p>
                                              </div><!-- /.inner -->
                                          </div>
                                      </div><!-- /.accrodion-inner -->
                                  </div>
                                  <div class="accrodion ">
                                    <div class="accrodion-inner">
                                        <div class="accrodion-title">
                                            <h4>How can I cannect my Custom Domain with the website</h4>
                                        </div>
                                        <div class="accrodion-content">
                                            <div class="inner">
                                                <p>You will just need to contact our support and send your doain name.Our Technical team will connect it to your website within 24 hours</p>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div><!-- /.accrodion-inner -->
                                </div>
                              </div>
                          </div><!-- /.col-lg-6 -->
                      </div><!-- /.row -->
                  </div><!-- /.tab-pane fade show active animated fadeInUp -->
                  <div class="tab-pane fade  animated fadeInUp" id="windows">
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="accrodion-grp " data-grp-name="faq-accrodion-6">
                                  <div class="accrodion active ">
                                      <div class="accrodion-inner">
                                          <div class="accrodion-title">
                                              <h4>Pre and post launch mobile app</h4>
                                          </div>
                                          <div class="accrodion-content">
                                              <div class="inner">
                                                  <p>There are many variations of passages of available but majority
                                                      have
                                                      alteration in some by inject humour or random words. Lorem ipsum
                                                      dolor
                                                      sit amet.</p>
                                              </div><!-- /.inner -->
                                          </div>
                                      </div><!-- /.accrodion-inner -->
                                  </div>
                                  <div class="accrodion  ">
                                      <div class="accrodion-inner">
                                          <div class="accrodion-title">
                                              <h4>How to update application new features</h4>
                                          </div>
                                          <div class="accrodion-content">
                                              <div class="inner">
                                                  <p>There are many variations of passages of available but majority
                                                      have
                                                      alteration in some by inject humour or random words. Lorem ipsum
                                                      dolor
                                                      sit amet.</p>
                                              </div><!-- /.inner -->
                                          </div>
                                      </div><!-- /.accrodion-inner -->
                                  </div>
                                  <div class="accrodion ">
                                      <div class="accrodion-inner">
                                          <div class="accrodion-title">
                                              <h4>How to connect with support</h4>
                                          </div>
                                          <div class="accrodion-content">
                                              <div class="inner">
                                                  <p>There are many variations of passages of available but majority
                                                      have
                                                      alteration in some by inject humour or random words. Lorem ipsum
                                                      dolor
                                                      sit amet.</p>
                                              </div><!-- /.inner -->
                                          </div>
                                      </div><!-- /.accrodion-inner -->
                                  </div>
                                  <div class="accrodion ">
                                      <div class="accrodion-inner">
                                          <div class="accrodion-title">
                                              <h4>Boostup your application traffic now</h4>
                                          </div>
                                          <div class="accrodion-content">
                                              <div class="inner">
                                                  <p>There are many variations of passages of available but majority
                                                      have
                                                      alteration in some by inject humour or random words. Lorem ipsum
                                                      dolor
                                                      sit amet.</p>
                                              </div><!-- /.inner -->
                                          </div>
                                      </div><!-- /.accrodion-inner -->
                                  </div>
                              </div>
                          </div><!-- /.col-lg-6 -->
                          <div class="col-lg-6">
                              <div class="accrodion-grp " data-grp-name="faq-accrodion-7">
                                  <div class="accrodion  ">
                                      <div class="accrodion-inner">
                                          <div class="accrodion-title">
                                              <h4>Pre and post launch mobile app</h4>
                                          </div>
                                          <div class="accrodion-content">
                                              <div class="inner">
                                                  <p>There are many variations of passages of available but majority
                                                      have
                                                      alteration in some by inject humour or random words. Lorem ipsum
                                                      dolor
                                                      sit amet.</p>
                                              </div><!-- /.inner -->
                                          </div>
                                      </div><!-- /.accrodion-inner -->
                                  </div>
                                  <div class="accrodion active ">
                                      <div class="accrodion-inner">
                                          <div class="accrodion-title">
                                              <h4>How to connect with support</h4>
                                          </div>
                                          <div class="accrodion-content">
                                              <div class="inner">
                                                  <p>There are many variations of passages of available but majority
                                                      have
                                                      alteration in some by inject humour or random words. Lorem ipsum
                                                      dolor
                                                      sit amet.</p>
                                              </div><!-- /.inner -->
                                          </div>
                                      </div><!-- /.accrodion-inner -->
                                  </div>
                                  <div class="accrodion ">
                                      <div class="accrodion-inner">
                                          <div class="accrodion-title">
                                              <h4>How to update application new features</h4>
                                          </div>
                                          <div class="accrodion-content">
                                              <div class="inner">
                                                  <p>There are many variations of passages of available but majority
                                                      have
                                                      alteration in some by inject humour or random words. Lorem ipsum
                                                      dolor
                                                      sit amet.</p>
                                              </div><!-- /.inner -->
                                          </div>
                                      </div><!-- /.accrodion-inner -->
                                  </div>
                                  <div class="accrodion ">
                                      <div class="accrodion-inner">
                                          <div class="accrodion-title">
                                              <h4>Boostup your application traffic now</h4>
                                          </div>
                                          <div class="accrodion-content">
                                              <div class="inner">
                                                  <p>There are many variations of passages of available but majority
                                                      have
                                                      alteration in some by inject humour or random words. Lorem ipsum
                                                      dolor
                                                      sit amet.</p>
                                              </div><!-- /.inner -->
                                          </div>
                                      </div><!-- /.accrodion-inner -->
                                  </div>
                              </div>
                          </div><!-- /.col-lg-6 -->
                      </div><!-- /.row -->
                  </div><!-- /.tab-pane fade show active animated fadeInUp -->
                  <div class="tab-pane fade  animated fadeInUp" id="android">
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="accrodion-grp " data-grp-name="faq-accrodion-8">
                                  <div class="accrodion active ">
                                      <div class="accrodion-inner">
                                          <div class="accrodion-title">
                                              <h4>Pre and post launch mobile app</h4>
                                          </div>
                                          <div class="accrodion-content">
                                              <div class="inner">
                                                  <p>There are many variations of passages of available but majority
                                                      have
                                                      alteration in some by inject humour or random words. Lorem ipsum
                                                      dolor
                                                      sit amet.</p>
                                              </div><!-- /.inner -->
                                          </div>
                                      </div><!-- /.accrodion-inner -->
                                  </div>
                                  <div class="accrodion  ">
                                      <div class="accrodion-inner">
                                          <div class="accrodion-title">
                                              <h4>How to update application new features</h4>
                                          </div>
                                          <div class="accrodion-content">
                                              <div class="inner">
                                                  <p>There are many variations of passages of available but majority
                                                      have
                                                      alteration in some by inject humour or random words. Lorem ipsum
                                                      dolor
                                                      sit amet.</p>
                                              </div><!-- /.inner -->
                                          </div>
                                      </div><!-- /.accrodion-inner -->
                                  </div>
                                  <div class="accrodion ">
                                      <div class="accrodion-inner">
                                          <div class="accrodion-title">
                                              <h4>How to connect with support</h4>
                                          </div>
                                          <div class="accrodion-content">
                                              <div class="inner">
                                                  <p>There are many variations of passages of available but majority
                                                      have
                                                      alteration in some by inject humour or random words. Lorem ipsum
                                                      dolor
                                                      sit amet.</p>
                                              </div><!-- /.inner -->
                                          </div>
                                      </div><!-- /.accrodion-inner -->
                                  </div>
                                  <div class="accrodion ">
                                      <div class="accrodion-inner">
                                          <div class="accrodion-title">
                                              <h4>Boostup your application traffic now</h4>
                                          </div>
                                          <div class="accrodion-content">
                                              <div class="inner">
                                                  <p>There are many variations of passages of available but majority
                                                      have
                                                      alteration in some by inject humour or random words. Lorem ipsum
                                                      dolor
                                                      sit amet.</p>
                                              </div><!-- /.inner -->
                                          </div>
                                      </div><!-- /.accrodion-inner -->
                                  </div>
                              </div>
                          </div><!-- /.col-lg-6 -->
                          <div class="col-lg-6">
                              <div class="accrodion-grp " data-grp-name="faq-accrodion-9">
                                  <div class="accrodion  ">
                                      <div class="accrodion-inner">
                                          <div class="accrodion-title">
                                              <h4>Pre and post launch mobile app</h4>
                                          </div>
                                          <div class="accrodion-content">
                                              <div class="inner">
                                                  <p>There are many variations of passages of available but majority
                                                      have
                                                      alteration in some by inject humour or random words. Lorem ipsum
                                                      dolor
                                                      sit amet.</p>
                                              </div><!-- /.inner -->
                                          </div>
                                      </div><!-- /.accrodion-inner -->
                                  </div>
                                  <div class="accrodion active ">
                                      <div class="accrodion-inner">
                                          <div class="accrodion-title">
                                              <h4>How to connect with support</h4>
                                          </div>
                                          <div class="accrodion-content">
                                              <div class="inner">
                                                  <p>There are many variations of passages of available but majority
                                                      have
                                                      alteration in some by inject humour or random words. Lorem ipsum
                                                      dolor
                                                      sit amet.</p>
                                              </div><!-- /.inner -->
                                          </div>
                                      </div><!-- /.accrodion-inner -->
                                  </div>
                                  <div class="accrodion ">
                                      <div class="accrodion-inner">
                                          <div class="accrodion-title">
                                              <h4>How to update application new features</h4>
                                          </div>
                                          <div class="accrodion-content">
                                              <div class="inner">
                                                  <p>There are many variations of passages of available but majority
                                                      have
                                                      alteration in some by inject humour or random words. Lorem ipsum
                                                      dolor
                                                      sit amet.</p>
                                              </div><!-- /.inner -->
                                          </div>
                                      </div><!-- /.accrodion-inner -->
                                  </div>
                                  <div class="accrodion ">
                                      <div class="accrodion-inner">
                                          <div class="accrodion-title">
                                              <h4>Boostup your application traffic now</h4>
                                          </div>
                                          <div class="accrodion-content">
                                              <div class="inner">
                                                  <p>There are many variations of passages of available but majority
                                                      have
                                                      alteration in some by inject humour or random words. Lorem ipsum
                                                      dolor
                                                      sit amet.</p>
                                              </div><!-- /.inner -->
                                          </div>
                                      </div><!-- /.accrodion-inner -->
                                  </div>
                              </div>
                          </div><!-- /.col-lg-6 -->
                      </div><!-- /.row -->
                  </div><!-- /.tab-pane fade show active animated fadeInUp -->
              </div><!-- /.tab-content -->
          </div><!-- /.container -->
      </section><!-- /.faq-one -->



      <section class="cta-one" style="background-image: url(assets/landing/assets/images/backgrounds/cta-1-bg-1.jpg);">
          <div class="container">
              <img src="assets/landing/assets/images/shapes/cta-shape-1-1.png" class="cta-one__bg-shape-1" alt="">
              <div class="row">
                  <div class="col-lg-8">
                      <div class="cta-one__content">
                          <h3>Make your next bold move & <br> Experience Endless Possibilities </h3>
                          <p>and get started with a free 7 Days trial for your business</p>
                      </div><!-- /.cta-one__content -->
                  </div><!-- /.col-lg-6 -->
                  <div class="col-lg-4 d-flex ">
                      <div class="my-auto d-flex justify-content-end">
                          <a href="/auth/signup" class="thm-btn cta-one__btn"><span>Get Started</span></a>
                          <!-- /.thm-btn cta-one__btn -->
                      </div><!-- /.my-auto -->
                  </div><!-- /.col-lg-6 -->

              </div><!-- /.row -->
          </div><!-- /.container -->
      </section><!-- /.cta-one -->

      <footer class="site-footer">
          <div class="site-footer__bottom">
              <div class="container">
                  <div class="text-center">
                      <p>© copyright 2020 by splixcube.com</p>
<!--                       <div class="footer-social">
                          <a href="#"><i class="fab fa-facebook-square"></i></a>
                          <a href="#"><i class="fab fa-twitter"></i></a>
                          <a href="#"><i class="fab fa-instagram"></i></a>
                          <a href="#"><i class="fab fa-pinterest-p"></i></a>
                      </div> --><!-- /.footer-social -->
                  </div><!-- /.inner-container -->
              </div><!-- /.container -->
          </div><!-- /.site-footer__bottom -->
      </footer><!-- /.site-footer -->
  </div><!-- /.page-wrapper -->

  <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>


</ng-container>