<app-navigation type="2" title="Order Detail"></app-navigation>

<!-- <ng-container *ngIf="singleOrder">
    <div class="p-2">
        <div class="container mt-5 mb-4">
            <div class="row border-bottom">
                <div class="col-md-12 col-12">
                    <h5><b>Order Id:</b> {{singleOrder?.orderId}}</h5>
                </div>
            </div>
        </div>

        <div class="container mb-5">
            <div class="row border p-3 mb-3 d-none d-md-block d-lg-block">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="p-2 px-3 text-uppercase">Product</div>
                                    </th>
                                    <ng-container class="d-block d-md-none d-lg-none">
                                        <th scope="col" class="border-0 bg-light">
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                        </th>
                                    </ng-container>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Quantity</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Price</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container>
                                    <tr *ngFor="let item of singleOrder?.items">
                                        <th scope="row">
                                            <div class="p-2 d-flex">
                                                <img [src]="item.product.imgUrl" alt="" width="70"
                                                    class="img-fluid rounded shadow-sm">
                                                <div class="ml-3 d-inline-block align-middle my-auto">
                                                    <h5 class="mb-0">
                                                        <a
                                                            class="text-dark d-inline-block">{{item.product.itemName}}</a>
                                                    </h5>
                                                    <span class="text-muted font-weight-normal font-italic"
                                                        *ngIf="item.product.itemCategory">Category:
                                                        {{item.product.itemCategory}}
                                                    </span>
                                                </div>
                                            </div>
                                        </th>
                                        <ng-container class="d-block d-md-none d-lg-none">
                                            <td></td>
                                            <td></td>
                                        </ng-container>
                                        <td class="align-middle">
                                            <strong>
                                                {{item.qty}}
                                            </strong>
                                        </td>
                                        <td class="align-middle">
                                            <strong>&#8377;{{item.product.itemPrice*item.qty}}</strong>
                                        </td>
                                    </tr>
                                    <h5>Order Items ({{singleOrder?.items.length}})</h5>
                                </ng-container>
                                <tr *ngIf="singleOrder?.items.length==0">
                                    <td>
                                        No Orders, yet.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row border py-3 px-4 mb-3 d-block d-md-none d-lg-none">
                <div class="col-12">
                    <h5>Order Items ({{singleOrder?.items?.length}})</h5>
                </div>
                <div class="row border p-3" *ngFor="let item of singleOrder?.items">
                    <div class="col-4 my-auto">
                        <img [src]="item?.product.imgUrl" (load)="item.loaded = true" [hidden]="!item?.loaded"  class="w-100" alt="">
                        <ng-container *ngIf="!item?.loaded">  
                            <div style="width: 70px;height: 70px;">
                                <div class="blank_img"></div>
                            </div>                          
                        </ng-container>
                    </div>
                    <div class="col-8 my-auto">
                        <p class="text-muted my-0">
                            <b>Name: </b>{{item?.product.itemName}}
                        </p>
                        <p class="text-muted my-0">
                            <b>Quantity: </b>{{item?.qty}}
                        </p>
                        <p class="text-muted my-0">
                            <b>Price: </b>&#8377;{{item.product?.itemPrice*item?.qty}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="row border p-3 mb-3">
                <div class="col-md-12 mb-3">
                    <h5>Order Details</h5>
                </div>
                <div class="col-lg-6 col-md-6 col-6">
                    <p>Date</p>
                </div>
                <div class="col-lg-6 col-md-6 col-6 text-right">
                    <p>{{singleOrder?.timestamp?.toDate() | date}}</p>
                </div>
                <div class="col-lg-6 col-md-6 col-6">
                    <p>Payment Mode</p>
                </div>
                <div class="col-lg-6 col-md-6 col-6 text-right">
                    <p>{{singleOrder?.paymentMode}}</p>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-12 mb-3">
                    <h5>Order Total</h5>
                </div>
                <div class="col-lg-6 col-md-6 col-6">
                    <p>Subtotal</p>
                </div>
                <div class="col-lg-6 col-md-6 col-6 text-right">
                    <p>&#8377;{{singleOrder?.orderSummary?.subTotal}}</p>
                </div>
                <br>
                <div class="col-lg-6 col-md-6 col-6">
                    <p>Discount</p>
                </div>
                <div class="col-lg-6 col-md-6 col-6 text-right">
                    <p>&#8377;{{singleOrder?.orderSummary?.discount}}</p>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-lg-6 col-md-6 col-6">
                    <p>
                        <b>Total</b>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-6 text-right">
                    <p>
                        <b>&#8377;{{singleOrder?.orderSummary?.total}}</b>
                    </p>
                </div>
            </div>

            <div class="row border p-3 mb-3">
                <div class="col-md-12 mb-3">
                    <h5>Billing & Shipping Details</h5>
                </div>
                <div class="col-md-4 my-2">
                    <b class="mb-2">Contact Information:</b> <br>
                    <b>Email Address:</b>
                    <br>
                    <p>{{singleOrder?.customer?.email}}</p>

                    <b>Contact Number:</b>
                    <br>
                    <p>{{singleOrder?.customer?.mobileNumber}}</p>
                </div>
                <div class="col-md-4 my-2">
                    <b class="mb-2">Shipping address:</b> <br>
                    <p>{{singleOrder?.address?.street}}, {{singleOrder?.address?.city}},
                        {{singleOrder?.address?.pincode}}</p>
                    <p>{{singleOrder?.address?.landmark}}</p>
                </div>
                <div class="col-md-4 my-2">
                    <b class="mb-2">Payment:</b> <br>
                    <p class="capitalize">{{singleOrder?.paymentMode}}</p>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!singleOrder">
    <div class="container">
        <div class="row p-3 mb-3">
            <div class="col-md-12">
                <div class="p-skeleton-wrapper">
                    <div class="p-skeleton">
                        <div class="p-skeleton__body">
                            <div class="p-skeleton__body--r-text">
                                <div class="p-skeleton__body--r-full"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-3 mb-3">
            <div class="col-md-12">
                <div class="p-skeleton-wrapper">
                    <div class="p-skeleton">
                        <div class="p-skeleton__body">
                            <div class="p-skeleton__body--r-banner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-3 mb-3">
            <div class="col-md-12">
                <div class="p-skeleton-wrapper">
                    <div class="p-skeleton">
                        <div class="p-skeleton__body">
                            <div class="p-skeleton__body--r-banner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-3 mb-3">
            <div class="col-md-12">
                <div class="p-skeleton-wrapper">
                    <div class="p-skeleton">
                        <div class="p-skeleton__body">
                            <div class="p-skeleton__body--r-banner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container> -->

<div class="container d-none d-lg-block d-md-block">
  <nav aria-label="breadcrumb" class="mx-auto my-2">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/test8">Home</a></li>
      <li class="breadcrumb-item">
        <a routerLink="/test8/profile">My orders</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Order <span class="ml-2">#123456</span>
      </li>
    </ol>
  </nav>
  <p class="my-4">
    Order placed on<span class="mx-1">Jun 20, 2020</span>at<span class="ml-1"
      >11:24AM</span
    >
  </p>
  <div class="order-details-green px-4">
    <p class="py-3">
      Your order has been sent. Track the shipment with number<span class="mx-1"
        >123456789</span
      >or by clicking here:
      <span class="mx-1"><u>link-of-order-tracking</u></span>
    </p>
  </div>

  <div class="row mt-5">
    <div class="col-9">
      <div class="d-flex col-12">
        <p class="text-uppercase col-7 small-text">Product</p>
        <div class="d-flex col-5">
          <p class="text-uppercase small-text col-6 text-center">Quantity</p>
          <p class="text-uppercase small-text col-6 text-center">total</p>
        </div>
      </div>
      <hr />
      <div class="d-flex col-12">
        <div class="d-flex col-7">
          <img
            src="../../../../../assets/Images/category/category (1).jpg"
            height="70"
            alt=""
          />
          <p class="text-uppercase normal-text font-weight-bold col-6 my-auto">
            Product name
          </p>
        </div>
        <div class="d-flex col-5 my-auto">
          <p
            class="
              text-uppercase
              normal-text
              font-weight-bold
              col-6
              text-center
            "
          >
            1
          </p>
          <p
            class="
              text-uppercase
              normal-text
              font-weight-bold
              col-6
              text-center
            "
          >
            <span class="mr-1">₹</span>622
          </p>
        </div>
      </div>
      <hr />
      <div class="col-6 float-right">
        <div class="d-flex justify-content-between">
          <p class="col-6 text-uppercase small-text">
            DISCOUNT<span class="ml-1">(LSRV27DC7CSG)</span>
          </p>
          <p class="text-center col-6 small-text font-weight-bold">
            <span class="mr-1">₹</span>622
          </p>
        </div>
        <div class="d-flex justify-content-between">
          <p class="col-6 text-uppercase small-text">Subtotal</p>
          <p class="text-center col-6 small-text font-weight-bold">
            <span class="mr-1">₹</span>622
          </p>
        </div>
        <div class="d-flex justify-content-between">
          <p class="col-6 text-uppercase small-text">
            Shipping<span class="ml-1"
              >(ATTENTION: We are now shipping in all zones (expect shipping
              delays). Containment zones will resume when govt allows.)</span
            >
          </p>
          <p class="text-center col-6 small-text font-weight-bold">
            <span class="mr-1">₹</span>0
          </p>
        </div>
        <div class="d-flex justify-content-between">
          <p class="col-6 text-uppercase small-text">
            tax<span class="ml-1">(CGST 18.0%)</span>
          </p>
          <p class="text-center col-6 small-text font-weight-bold">
            <span class="mr-1">₹</span>213
          </p>
        </div>
        <div class="d-flex justify-content-between">
          <p class="col-6 text-uppercase small-text">TOTAL</p>
          <p class="text-center col-6 small-text font-weight-bold">
            <span class="mr-1">₹</span>633
          </p>
        </div>
        <button
          class="
            btn-dark
            mt-2
            w-50
            py-2
            small-text
            font-weight-bold
            text-uppercase
          "
        >
          Order again
        </button>
      </div>
    </div>
    <div class="col-3">
      <p class="normal-text text-uppercase mb-0">Shipping address</p>
      <hr />
      <p class="small-text my-3">User-name</p>
      <p class="small-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero omnis
        deleniti. adipisicing elit. Libero omnis deleniti. India1991
      </p>

      <p class="normal-text text-uppercase mt-5 mb-0">Billing address</p>
      <hr />
      <p class="small-text my-3">User-name</p>
      <p class="small-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero omnis
        deleniti. elit. Libero omnis deleniti. India1991
      </p>
    </div>
  </div>
</div>

<app-tab></app-tab>
