@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
  --bg-color: #f5f5f5;
  --gray: #eeeeee;
  --yellow: #ffc107;
  --footer-bg: #f8f9fc;
  --darkColor: #373738;
  --darkerColor: #1e1e1f;
  --lightColor: #8c9fb6;
  --themeColor: #edb611;
  --primary-font-family: 'Poppins',Arial,Helvetica,sans-serif;
  --font-12: 12px;
  --font-10: 10px;
  --font-13: 13px;
  --font-14: 14px;
  --font-16: 16px;
  --font-20: 20px;
  --font-bold: bold;
  --secondary-text-color: #666;
}

* {
  font-family: var(--primary-font-family);
}

body {
  background-color: var(--bg-color);
}
@media (max-width: 700px) {
  body {
    background-color: white;
  }
}

.fs-12 {
  font-size: var(--font-12);
}
.fs-10 {
  font-size: var(--font-10);
}
.fs-13 {
  font-size: var(--font-13);
}
.fs-14 {
  font-size: var(--font-14);
}
.fw-16 {
  font-size: var(--font-16);
}
.fs-20 {
  font-size: var(--font-20);
}
.fw-bold {
  font-weight: var(--font-bold);
}

ul li {
  list-style-type: none;
}
a, a:active, a:hover, a:focus{
  color: none;
}
.clblack {
  color: black;
}
.clyellow {
  color: var(--yellow);
}
.clwhite {
  color: white;
}
.clsecondarytext{
  color: #666;
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-white {
  background-color: white;
}
.yellow-text {
  color: var(--themeColor);
}
.modal-backdrop.show{
  z-index: 9;
}