<app-navigation type="1" title=""></app-navigation>

<ng-container>
  <swiper
    [slidesPerView]="1"
    [effect]="'coverflow'"
    [autoplay]="true"
    [spaceBetween]="50"
    [pagination]="true"
  >
    <ng-template
      (click)="onSlideSelected(slide)"
      *ngFor="let slide of _themeService?.data?.carousel; first as i"
      swiperSlide
    >
      <img
        [src]="slide?.imgUrl"
        (load)="slide.loaded = true"
        class="w-100"
        [ngClass]="{ 'cursor-pointer': slide?.redirectPath }"
        [hidden]="!slide.loaded"
        (click)="onSlideSelect(slide)"
      />
      <ng-container *ngIf="!slide.loaded">
        <div class="p-skeleton">
          <div class="p-skeleton__body">
            <div class="p-skeleton__body--r-banner"></div>
          </div>
        </div>
      </ng-container>
    </ng-template>
  </swiper>
</ng-container>

<!-- About Us Start -->
<div
  class="about-area-wrapper py-5"
  data-aos="zoom-in"
  *ngIf="
    _themeService?.data.aboutUs && !_themeService?.data?.isDisableAboutOnHome
  "
>
  <div class="container">
    <div class="row align-items-lg-center" *ngIf="_themeService?.data.aboutUs">
      <!-- Dasktop screen image -->
      <div class="col-md-6 col-lg-5 d-none d-md-block d-lg-block">
        <figure class="about-thumb">
          <img
            [src]="_themeService?.data?.aboutUsImage"
            (load)="_themeService?.data.aboutImgloaded = true"
            [hidden]="!_themeService?.data.aboutImgloaded"
            alt=""
          />
        </figure>
        <ng-container *ngIf="!_themeService?.data.aboutImgloaded">
          <div class="p-skeleton">
            <div class="p-skeleton__body">
              <div class="p-skeleton__body--r-banner"></div>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="col-md-6 col-lg-7">
        <ng-container *ngIf="_themeService?.data?.aboutUs?.description">
          <div class="about-content">
            <div class="text-center">
              <h4 class="primary-color">
                {{
                  _themeService.data.aboutHeading
                    ? _themeService.data.aboutHeading
                    : "About Us"
                }}
              </h4>
            </div>
            <h5>{{ _themeService?.data.aboutUs.title }}</h5>
            <p [innerHTML]="_themeService?.data?.aboutUs?.description"></p>
            <a
              routerLink="{{
                _themeService.customDomain
                  ? '/about'
                  : '/' + _themeService.domainName + '/about'
              }}"
              class="btn-about"
              >MORE DETAILS
              <i class="fa fa-angle-double-right text-secondary"></i>
            </a>
          </div>
        </ng-container>
        <!-- <ng-container *ngIf="!_themeService?.data?.aboutUs?.description">
                    <div class="p-skeleton-wrapper">
                        <div class="p-skeleton">
                            <div class="p-skeleton__body">
                                <div class="p-skeleton__body--r-title"></div>
                                <div class="p-skeleton__body--r-text">
                                    <div class="p-skeleton__body--r-s"></div>
                                    <div class="p-skeleton__body--r-full"></div>
                                    <div class="p-skeleton__body--r-full"></div>
                                    <div class="p-skeleton__body--r-m"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container> -->
      </div>

      <!-- Mobile screen image -->
      <div class="col-md-6 col-lg-5 d-block d-md-none d-lg-none py-3">
        <ng-container>
          <figure class="about-thumb">
            <img
              [src]="_themeService?.data?.aboutUsImage"
              (load)="_themeService?.data.aboutImgloaded = true"
              [hidden]="!_themeService?.data.aboutImgloaded"
              alt=""
            />
          </figure>
        </ng-container>
        <ng-container *ngIf="!_themeService?.data.aboutImgloaded">
          <div class="p-skeleton-wrapper">
            <div class="p-skeleton">
              <div class="p-skeleton__body">
                <div class="p-skeleton__body--r-image"></div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<!-- About Us End -->

<!-- Super categories Section -->
<section
  class="jumbotron-fluid py-5 bg-secondary"
  data-aos="fade-up"
  *ngIf="
    _themeService.data?.supercategories &&
    _themeService.data?.supercategories?.length > 0
  "
>
  <div class="col-md-12 text-center">
    <h4 class="primary-color">Super Categories</h4>
  </div>
  <div class="container my-3">
    <div class="row" data-aos="zoom-in">
      <div
        class="col-lg-3 col-md-3 col-6 text-center p-2 cursor-pointer"
        *ngFor="let superCategory of _themeService.data?.supercategories"
        (click)="onSelectSuperCategories(superCategory.slug)"
      >
        <img
          [src]="superCategory.imgUrl"
          (load)="superCategory.loaded = true"
          [hidden]="!superCategory.loaded"
          alt=""
        />
        <ng-container *ngIf="!superCategory.loaded">
          <div class="p-skeleton">
            <div class="p-skeleton__body">
              <div class="p-skeleton__body--r-image"></div>
            </div>
          </div>
        </ng-container>
        <p>{{ superCategory.title }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-12 mb-0 text-center">
    <button class="btn-primary" (click)="viewAllSuperCategories()">
      View More
    </button>
  </div>
</section>
<!-- Super categories section end -->

<!-- Categories Section -->
<!-- <section class="jumbotron-fluid py-5 bg-white" [ngClass]="{'mt-sm-n': _themeService?.data.aboutUs && !_themeService?.data?.isDisableAboutOnHome}" data-aos="fade-up"
    *ngIf="_themeService.data?.categories && _themeService.data?.categories?.length>0">
    <div class="col-md-12 text-center">
        <h4 class="primary-color">Categories</h4>
    </div>
    <div class="container my-3">
        <div class="row" data-aos="zoom-in">
            <div class="col-lg-3 col-md-3 col-6 text-center p-2 cursor-pointer"
                *ngFor="let category of _themeService.data?.categories" (click)="onSelectCategory(category.slug)">
                <img [src]="category.imgUrl" (load)="category.loaded = true" [hidden]="!category.loaded"
                    alt="">
                <ng-container *ngIf="!category.loaded">
                    <div class="p-skeleton">
                        <div class="p-skeleton__body">
                            <div class="p-skeleton__body--r-image">
                            </div>
                        </div>
                    </div>
                </ng-container>
                <p>{{category.title}}</p>
            </div>
          </div>
        </ng-container>
        <p>{{ category.title }}</p>
      </div>
    </div>
</section> -->

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h4 ><span class="shopmenu">SHOP BY CATEGORY</span></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex">
            <div class="d-block mx-auto">
                <img src="./../../../../../assets/Images/category/category (1).jpg" class="categoryimg" />
                <p class="text-center">Eraser</p>
            </div>
            <div class="d-block mx-auto">
                <img src="./../../../../../assets/Images/category/category (2).jpg" class="categoryimg"  />
                <p class="text-center">Eraser</p>
            </div>
            <div class="d-block mx-auto">
            <img src="./../../../../../assets/Images/category/category (3).jpg" class="categoryimg"  />
            <p class="text-center">Eraser</p>
            </div>
            <div class="d-block mx-auto">
            <img src="./../../../../../assets/Images/category/category (4).jpg" class="categoryimg" />
            <p class="text-center">Eraser</p>
            </div>
            <div class="d-block mx-auto">
            <img src="./../../../../../assets/Images/category/category (4).jpg" class="categoryimg"/>
            <p class="text-center">Eraser</p>
            </div>
            <div class="d-block mx-auto">
            <img src="./../../../../../assets/Images/category/category (6).jpg" class="categoryimg"/>
            <p class="text-center">Eraser</p>
           </div>
           <div class="d-block mx-auto">
           <img src="./../../../../../assets/Images/category/category (7).jpg" class="categoryimg"  />
           <p class="text-center">Eraser</p>
           </div>
           <div class="d-block mx-auto"> 
           <img src="./../../../../../assets/Images/category/category (8).jpg" class="categoryimg" />
           <p class="text-center">Eraser</p>
        </div>
        </div>
    </div>
</div>

<!-- Categories section end -->

<!-- Product Section -->
<section class="jumbotron-fluid py-5 bg-secondary" data-aos="fade-up"
    *ngIf="_themeService.data?.products && _themeService.data?.products?.length>0">
    <div class="col-md-12 text-center">
        <h4 class="primary-color">{{_themeService.data.productHeading ? _themeService.data.productHeading : "Latest
            Products"}}</h4>
        <h5 class="mb-0 primary-font-size" *ngIf="_themeService.data.productTagLine">
            {{_themeService.data.productTagLine}}</h5>
    </div>
    <div class="container my-3">
        <div class="row" data-aos="zoom-in">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="col-lg-12 col-md-12 col-12 mt-5 d-none d-md-block">
                    <swiper [slidesPerView]="3" [slidesPerGroup]="1" [loop]="true" [effect]="'Fade'" [autoplay]="true"
                        [spaceBetween]="30" [pagination]="true">
                        <ng-container *ngFor="let product of _themeService.data?.products?.slice(0,8);let i = index">
                            <ng-template swiperSlide>
                                <div class="single-testimonial pb-5">
                                    <app-product-card [product]="product"></app-product-card>
                                </div>
                                <div class="single-testimonial pb-5">
                                    <app-product-card [product]="product"></app-product-card>
                                </div>
                            </ng-template>
                        </ng-container>
                    </swiper>
                    </div>
                <div class="single-testimonial pb-5">
                  <app-product-card [product]="product"></app-product-card>
                </div>
                <!-- <app-product-card [product]="_themeService.data?.products[i + _themeService.data?.products?.length/2]"></app-product-card> -->
                <!-- <div class="single-testimonial pb-5">
                                </div> -->
        
        <!-- desktop view end -->

        <!-- mobile view start -->
        <div class="col-lg-12 col-md-12 col-12 mt-5 d-block d-md-none">
          <swiper
            [slidesPerView]="2"
            [slidesPerGroup]="1"
            [loop]="true"
            [effect]="'Fade'"
            [autoplay]="true"
            [spaceBetween]="30"
            [pagination]="true"
          >
            <ng-container
              *ngFor="
                let product of _themeService.data?.products?.slice(0, 8);
                let i = index
              "
            >
              <ng-template swiperSlide class="swiper-slide-product">
                <!-- <div class="single-testimonial pb-5">
                                    <app-product-card [product]="_themeService.data?.products[i - _themeService.data?.products?.length/2]"></app-product-card>
                                </div> -->
                <div class="single-testimonial pb-5">
                  <!-- <p (click)="show(_themeService.data?.products[i + _themeService.data?.products?.length/2])">{{i + _themeService.data?.products.length/2}}</p> -->
                  <!-- <app-product-card [product]="_themeService.data?.products[i + _themeService.data?.products?.length/2]"></app-product-card> -->
                  <app-product-card [product]="product"></app-product-card>
                </div>
                <div class="single-testimonial pb-5">
                  <app-product-card [product]="product"></app-product-card>
                </div>
              </ng-template>
            </ng-container>
          </swiper>
        </div>
        <!-- mobile view end -->
      </div>
    </div>
  </div>
  <div class="col-md-12 text-center">
    <button
      class="btn-primary"
      routerLink="{{
        _themeService.customDomain
          ? '/products'
          : '/' + _themeService.domainName + '/products'
      }}"
    >
      View More
    </button>
  </div>
</section>
<!-- product section end -->

<!-- Service Start -->
<!-- <div class="service-area-wrapper py-5 bg-white"
    *ngIf="_themeService.data?.services && _themeService.data?.services?.length>0">
    <div class="service-area-top parallax" [ngStyle]="{'background-image': getCover()}">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-5 m-auto text-center">
                    <div class="section-title section-title--light">
                        <h4 class="text-white">{{_themeService.data.serviceHeading ? _themeService.data.serviceHeading :
                            "OUR SERVICES"}}</h4>
                        <h5 class="mb-0 text-white primary-font-size" *ngIf="_themeService.data.serviceTagLine">
                            {{_themeService.data.serviceTagLine}}</h5>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br class="d-block d-md-none d-lg-none" /><br
    class="d-block d-md-none d-lg-none"
  />
  <div class="service-content-area" data-aos="zoom-in">
    <div class="container my-3">
      <div class="row">
        <div
          class="col-sm-6 col-lg-4"
          *ngFor="
            let service of _themeService.data?.services?.slice(0, 3);
            let i = index
          "
        >
          <app-service-card [service]="service"></app-service-card>
        </div>
      </div>
    </div>
  </div>

    <div class="col-md-12 text-center" *ngIf="_themeService.data?.supercategories?.length>3">
        <button class="btn-primary"
            routerLink="{{_themeService.customDomain?'/services':'/'+_themeService.domainName+'/services'}}">View
            More</button>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h4 ><span class="shopmenu">OUR SERVICE</span></h4>
        </div>
    </div>
    <div class="row servicerow">
        <div class="col-md-3">
            
            <img src="./../../../../../assets/Images/service/service (1).jpg" class="serviceimg" />
            <div class="servicecaption"><p class="serviceline my-2">Office supplies</p>
                <p class="text-center my-2">
            Get every office essential here at one place at the cheapest price. Best in quality product with long durability.
                </p></div>
      
        </div>
        <div class="col-md-3 mx-auto">
            <img src="./../../../../../assets/Images/service/service (2).jpg" class="serviceimg" />
            <div class="servicecaption"><p class="serviceline my-2">Kids supplies</p>
                </div>
        </div>
        <div class="col-md-3">
            <img src="./../../../../../assets/Images/service/service (3).jpg" class="serviceimg" />
            <div class="servicecaption">
            <p class="serviceline my-2">School</p></div>
        </div>
    </div>
</div>

<!-- Service End -->

<!-- Feature Start -->

<div class="row">
    <div class="col-md-12 text-center">
        <h4 ><span class="shopmenu">OUR PRODUCTS</span></h4>
    </div>
</div>

<div id="carouselExampleContro" class="carousel slide container" data-ride="carousel" data-interval="false" >
    <div class="row btnarrow">
            <p class="arrowleft "><a class="carousel-control-next" href="#carouselExampleContro" role="button" data-slide="prev" class="carousel-control-previous">
                <span class="carousel-control-prev-ico" aria-hidden="true"></span>
            <button type="button" class="btn productbtnl " ><i class='fas fa-caret-left' ></i></button></a></p>
         
            <p class="arrowright">
                <a class="carousel-control-next" href="#carouselExampleContro" role="button" data-slide="next">
                <span class="carousel-control-next-ico" aria-hidden="true"></span>
            <button type="button" class="btn productbtnr" ><i class='fas fa-caret-right' ></i></button></a></p>
        
    </div>
    <div class="carousel-inner" >
        
       
        <div id="productcard" class="carousel-item active carousel-transition">
            
           
            <div class="row"  >
                
                <div class="col-md-3">
                    <div class="card" style="width: 15rem; ">
                        <img src="./../../../../../assets/Images/product/thumb-4.jpg" class="card-img-top mx-auto my-3"  height="200px" alt="thumb"/>
                       
                        <div class="card-body">
                          <h5 class="card-title text-center">Eraser</h5>
                          <p class="card-text text-center">school Stationary</p>
                          <h5 class="card-title text-center">950</h5>
                        </div>
                      </div>
                    
                </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 15rem; ">
                            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto my-3"  height="200px" alt="thumb"/>
                           
                            <div class="card-body">
                              <h5 class="card-title text-center">Eraser</h5>
                              <p class="card-text text-center">school Stationary</p>
                              <h5 class="card-title text-center">950</h5>
                            </div>
                          </div>
                </div>
                    <div class="col-md-3">
                        
                        <div class="card" style="width: 15rem; ">
                            <img src="./../../../../../assets/Images/product/thumb-3.jpg" class="card-img-top mx-auto my-3" height="200px" alt="thumb"/>
                           
                            <div class="card-body">
                              <h5 class="card-title text-center">Eraser</h5>
                              <p class="card-text text-center">school Stationary</p>
                              <h5 class="card-title text-center">950</h5>
                            </div>
                          </div>
                </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 15rem; ">
                            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto my-3" height="200px" alt="thumb"/>
                           
                            <div class="card-body">
                              <h5 class="card-title text-center">Eraser</h5>
                              <p class="card-text text-center">school Stationary</p>
                              <h5 class="card-title text-center">950</h5>
                            </div>
                          </div>
                </div>
            </div>
           
        </div>
        <div id="shopid"  class="carousel-item carousel-transition">
            <div class="row "  >
                <div class="col-md-3">
                    <div class="card" style="width: 15rem; ">
                        <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto my-3" height="200px" alt="thumb"/>
                       
                        <div class="card-body">
                          <h5 class="card-title text-center">Eraser</h5>
                          <p class="card-text text-center">school Stationary</p>
                          <h5 class="card-title text-center">950</h5>
                        </div>
                      </div>
                </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 15rem; ">
                        <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto my-3" height="200px" alt="thumb"/>
                       
                        <div class="card-body">
                          <h5 class="card-title text-center">Eraser</h5>
                          <p class="card-text text-center">school Stationary</p>
                          <h5 class="card-title text-center">950</h5>
                        </div>
                      </div> 
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 15rem; ">
                            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto my-3" height="200px" alt="thumb"/>
                           
                            <div class="card-body">
                              <h5 class="card-title text-center">Eraser</h5>
                              <p class="card-text text-center">school Stationary</p>
                              <h5 class="card-title text-center">950</h5>
                            </div>
                          </div>
                </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 15rem; ">
                            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto my-3" height="200px" alt="thumb"/>
                           
                            <div class="card-body">
                              <h5 class="card-title text-center">Eraser</h5>
                              <p class="card-text text-center">school Stationary</p>
                              <h5 class="card-title text-center">950</h5>
                            </div>
                          </div>
                </div>
            </div>
        </div>          
      </div>
    </div>

<!-- Feature End -->


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <h4 ><span class="shopmenu">Eraser</span></h4>
       
    </div>
    <div class="col-md-2">
        <div >
            <a class="carousel-control-next" href="#carouselEraserControl" role="button" data-slide="prev" class="carousel-control-previous">
                <span class="carousel-control-prev-ico" aria-hidden="true"></span>
            <button type="button" class="btn erasebtnl " ><i class='fas fa-caret-left' id="caret"></i></button></a>
         
          
                <a class="carousel-control-next" href="#carouselEraserControl" role="button" data-slide="next" class="carousel-control-previous">
                <span class="carousel-control-next-ico" aria-hidden="true"></span>
            <button type="button" class="btn erasebtnr" ><i class='fas fa-caret-right' id="caret"></i></button></a>
        
    </div>
    </div>
</div>

<div id="carouselEraserControl" class="carousel slide container" data-ride="carousel" data-interval="false" >
    
    <div class="carousel-inner" >
        
       
        <div  class="carousel-item active carousel-transition">
            
           
            <div class="row"  >
                
                <div class="col-md-4 p-0">
                    <img src="./../../../../../assets/Images/service/service (1).jpg"  id="eraserimg" alt="thumb"/>
                    
                </div>
                    <div class="col-md p-0">
                        <div class="card labelcard" style="width: auto; ">
                            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto"  height="200px" alt="thumb"/>
                           
                            <div class="card-body">
                              <h5 class="card-title text-center">Eraser</h5>
                              <p class="card-text text-center">school Stationary</p>
                              <h5 class="card-title text-center">950</h5>
                            </div>
                          </div>
                </div>
                    <div class="col-md p-0">
                        
                        <div class="card labelcard" style="width: auto; ">
                            <img src="./../../../../../assets/Images/product/thumb-3.jpg" class="card-img-top mx-auto " height="200px" alt="thumb"/>
                           
                            <div class="card-body">
                              <h5 class="card-title text-center">Eraser</h5>
                              <p class="card-text text-center">school Stationary</p>
                              <h5 class="card-title text-center">950</h5>
                            </div>
                          </div>
                </div>
                    <div class="col-md p-0">
                        <div class="card labelcard" style="width: auto; ">
                            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto " height="200px" alt="thumb"/>
                           
                            <div class="card-body">
                              <h5 class="card-title text-center">Eraser</h5>
                              <p class="card-text text-center">school Stationary</p>
                              <h5 class="card-title text-center">950</h5>
                            </div>
                          </div>
                </div>
            </div>
           
        </div>
        <div id="shopid"  class="carousel-item carousel-transition">
            <div class="row "  >
                <div class="col-md-4 p-0">
                    <img src="./../../../../../assets/Images/service/service (1).jpg"  id="eraserimg" alt="thumb"/>
                </div>
                    <div class="col-md p-0">
                        <div class="card labelcard" style="width: auto; ">
                        <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto " height="200px" alt="thumb"/>
                       
                        <div class="card-body">
                          <h5 class="card-title text-center">Eraser</h5>
                          <p class="card-text text-center">school Stationary</p>
                          <h5 class="card-title text-center">950</h5>
                        </div>
                      </div> 
                    </div>
                    <div class="col-md p-0">
                        <div class="card labelcard" style="width: auto; ">
                            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto " height="200px" alt="thumb"/>
                           
                            <div class="card-body">
                              <h5 class="card-title text-center">Eraser</h5>
                              <p class="card-text text-center">school Stationary</p>
                              <h5 class="card-title text-center">950</h5>
                            </div>
                          </div>
                </div>
                    <div class="col-md p-0">
                        <div class="card labelcard" style="width: auto; ">
                            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto " height="200px" alt="thumb"/>
                           
                            <div class="card-body">
                              <h5 class="card-title text-center">Eraser</h5>
                              <p class="card-text text-center">school Stationary</p>
                              <h5 class="card-title text-center">950</h5>
                            </div>
                          </div>
                </div>
            </div>
        </div>          
      </div>
    </div>


<!-- Brands Section -->
<!-- <section
  class="jumbotron-fluid py-5 bg-white"
  data-aos="fade-up"
  *ngIf="_themeService.data?.brands && _themeService.data?.brands?.length > 0"
>
  <div class="col-md-12 text-center">
    <h4 class="primary-color">Brands</h4>
  </div>
  <div class="container my-3">
    <div class="row my-3" data-aos="zoom-in">
      <div
        class="col-lg-3 col-md-3 col-6 text-center p-2 cursor-pointer"
        *ngFor="let brand of _themeService.data?.brands"
        (click)="onSelectBrand(brand.slug)"
      >
        <img
          [src]="brand.imgUrl"
          (load)="brand.loaded = true"
          [hidden]="!brand.loaded"
          alt=""
        />
        <ng-container *ngIf="!brand.loaded">
          <div class="p-skeleton">
            <div class="p-skeleton__body">
              <div class="p-skeleton__body--r-image"></div>
            </div>
          </div>
        </ng-container>
        <p>{{ brand.title }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-12 text-center">
    <button class="btn-primary" (click)="viewAllBrands()">View More</button>
  </div>
</section> -->


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
            <div class="col-3">
                <i class='fa fa-truck' id="offericon"></i>
            </div>
            <div class="col-9">
                <h4 class="my-2" >FREE SHIPPING</h4><p id="offertext">For all orders above $100</p>
            </div>
        </div>
        </div>

        <div class="col-md-4 mx-auto">
            <div class="row">
                <div class="col-3">
                    <i class='fa fa-money' id="offericon"></i>
                </div>
                <div class="col-9">
                    <h4 class="my-2" >CASH ON DELIVERY</h4><p id="offertext">100% money back</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="row">
                <div class="col-3">
                    <i class='fa fa-headphones' id="offericon"></i>
                </div>
                <div class="col-9">
                    <h4 class="my-2" >24/7 SUPPORT</h4><p id="offertext">Answer for question</p>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Brands section end -->

<!-- Gallery Start -->
<!-- <div
  class="bg-secondary py-5"
  *ngIf="_themeService.data?.gallery && _themeService.data?.gallery?.length > 0"
>
  <div class="container text-center" data-aos="fade-up">
    <h4>
      {{
        _themeService.data.galleryHeading
          ? _themeService.data.galleryHeading
          : "Gallery"
      }}
    </h4>
    <h5
      class="mb-0 primary-font-size"
      *ngIf="_themeService.data.galleryTagLine"
    >
      {{ _themeService.data.galleryTagLine }}
    </h5>
    <div class="row my-3">
      <div
        class="col-md-3 col-lg-3 col-6"
        *ngFor="let imgs of _themeService.data?.gallery?.slice(0, 8)"
      >
        <div class="image__gallery__container w-100" data-aos="zoom-in">
          <div
            class="gallery__img mb-2"
            data-aos="fade-up"
            (click)="openModal(imgs?.imgUrl)"
          >
            <a href="#" data-toggle="modal" data-target="#imgModal">
              <img
                [src]="imgs.imgUrl"
                (load)="imgs.loaded = true"
                [hidden]="!imgs.loaded"
                alt=""
              />
              <ng-container *ngIf="!imgs.loaded">
                <div class="p-skeleton">
                  <div class="p-skeleton__body">
                    <div class="p-skeleton__body--r-image"></div>
                  </div>
                </div>
              </ng-container>
            </a>
            <h2 class="text-center w-80 mx-auto my-1">{{ imgs?.title }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 text-center">
    <button
      class="btn-primary"
      routerLink="{{
        _themeService.customDomain
          ? '/gallery'
          : '/' + _themeService.domainName + '/gallery'
      }}"
    >
      View More
    </button>
  </div>
</div> -->
<!-- Gallery End -->

<!-- Testimonials Start -->
<!-- <div
  class="testimonial-area py-5 bg-white"
  *ngIf="
    _themeService.data?.testimonials &&
    _themeService.data?.testimonials.length > 0
  "
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="section-title mb-0 text-center">
          <h4 class="primary-color">
            {{
              _themeService.data.testimonialHeading
                ? _themeService.data.testimonialHeading
                : "Testimonials"
            }}
          </h4>
          <h5
            class="mb-0 primary-font-size"
            *ngIf="_themeService.data.testimonialTagLine"
          >
            {{ _themeService.data.testimonialTagLine }}
          </h5>
        </div>
        <div class="testimonial-carousel-dots"></div>
      </div>
      

      <div class="col-lg-12 col-md-12 col-12">
        <swiper
          [slidesPerView]="1"
          [slidesPerGroup]="1"
          [loop]="true"
          [effect]="'Fade'"
          [autoplay]="true"
          [spaceBetween]="30"
          [pagination]="true"
        >
          <ng-container
            *ngFor="let testimonial_person of _themeService.data?.testimonials"
          >
            <ng-template swiperSlide>
              <div class="single-testimonial pb-5">
                <div class="testimonials-wrapper">
                  <app-testimonial-card
                    [testimonial_person]="testimonial_person"
                  >
                  </app-testimonial-card>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </swiper>
      </div>
    </div>
  </div>
</div> -->
<!-- Testimonials End -->


<!-- Brand -->

<div class="row">
    <div class="col-md-12 text-center">
        <h4 ><span class="shopmenu">Brands</span></h4>
    </div>
</div>

<div id="carouselbrands" class="carousel slide container" data-ride="carousel" data-interval="false" >
    <div class="row btnarrow">
            <p class="arrowleft "><a class="carousel-control-next" href="#carouselbrands" role="button" data-slide="prev" class="carousel-control-previous">
                <span class="carousel-control-prev-ico" aria-hidden="true"></span>
            <button type="button" class="btn productbtnl " ><i class='fas fa-caret-left' ></i></button></a></p>
         
            <p class="arrowright">
                <a class="carousel-control-next" href="#carouselbrands" role="button" data-slide="next">
                <span class="carousel-control-next-ico" aria-hidden="true"></span>
            <button type="button" class="btn productbtnr" ><i class='fas fa-caret-right' ></i></button></a></p>
        
    </div>
    <div class="carousel-inner" >
        
       
        <div id="productcard" class="carousel-item active carousel-transition">
            
           
            <div class="row"  >
                
                <div class="col-md-3">
                   <div class="card">
                    <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto " height="200px" alt="thumb"/>
                   </div>
                   <button type="button" class="btn brandbtn">Brandit</button>
                    
                </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto " height="200px" alt="thumb"/>
                           </div>
                           <button type="button" class="btn brandbtn">Brandit</button>
                            
                </div>
                    <div class="col-md-3">
                     
                </div>
                    <div class="col-md-3">
                        
                </div>
            </div>
           
        </div>
        <div id="shopid"  class="carousel-item carousel-transition">
            <div class="row "  >
                <div class="col-md-3">
                   
                </div>
                    <div class="col-md-3">
                        
                    </div>
                    <div class="col-md-3">
                        
                </div>
                    <div class="col-md-3">
                        
                </div>
            </div>
        </div>          
      </div>
    </div>

<!-- Brands section end -->

<app-tab></app-tab>
