<app-navigation type="1" title=""></app-navigation>

<!-- <ng-container>
  <swiper
    [slidesPerView]="1"
    [effect]="'coverflow'"
    [autoplay]="true"
    [spaceBetween]="50"
    [pagination]="true"
  >
    <ng-template
      (click)="onSlideSelected(slide)"
      *ngFor="let slide of _themeService?.data?.carousel; first as i"
      swiperSlide
    >
      <img
        [src]="slide?.imgUrl"
        (load)="slide.loaded = true"
        class="w-100"
        [ngClass]="{ 'cursor-pointer': slide?.redirectPath }"
        [hidden]="!slide.loaded"
        (click)="onSlideSelect(slide)"
      />
      <ng-container *ngIf="!slide.loaded">
        <div class="p-skeleton">
          <div class="p-skeleton__body">
            <div class="p-skeleton__body--r-banner"></div>
          </div>
        </div>
      </ng-container>
    </ng-template>
  </swiper>
</ng-container> -->

<!-- BANNER -->
<div class="my-2">
<swiper [slidesPerView]="1" [spaceBetween]="30" [navigation]="true" [pagination]="{ clickable: true }"
[controller]="{ control: controlledSwiper }">
<ng-template swiperSlide>
  <img src="./../../../../../assets/Images/banner/banner-1 (2).jpg"></ng-template>
<ng-template swiperSlide>
  <img src="./../../../../../assets/Images/banner/banner-2 (1).jpg"></ng-template>
<ng-template swiperSlide>
  <img src="./../../../../../assets/Images/banner/banner-1 (2).jpg"></ng-template>
<ng-template swiperSlide>
  <img src="./../../../../../assets/Images/banner/banner-2 (1).jpg"></ng-template>
</swiper>
</div>
<!-- SHOP BY CATEGORY -->

<div class="container d-none d-md-block d-lg-block">
    <div class="row">
        <div class="col-md-12 text-center">
            <h4 ><span class="shopmenu">SHOP BY CATEGORY</span></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex flex-wrap">
            <div class="d-block mx-auto">
                <img src="./../../../../../assets/Images/category/category (1).jpg" class="categoryimg" />
                <p class="text-center">Eraser</p>
            </div>
            <div class="d-block mx-auto">
                <img src="./../../../../../assets/Images/category/category (2).jpg" class="categoryimg"  />
                <p class="text-center">Eraser</p>
            </div>
            <div class="d-block mx-auto">
            <img src="./../../../../../assets/Images/category/category (3).jpg" class="categoryimg"  />
            <p class="text-center">Eraser</p>
            </div>
            <div class="d-block mx-auto">
            <img src="./../../../../../assets/Images/category/category (4).jpg" class="categoryimg" />
            <p class="text-center">Eraser</p>
            </div>
            <div class="d-block mx-auto">
            <img src="./../../../../../assets/Images/category/category (4).jpg" class="categoryimg"/>
            <p class="text-center">Eraser</p>
            </div>
            <div class="d-block mx-auto">
            <img src="./../../../../../assets/Images/category/category (6).jpg" class="categoryimg"/>
            <p class="text-center">Eraser</p>
           </div>
           <div class="d-block mx-auto">
           <img src="./../../../../../assets/Images/category/category (7).jpg" class="categoryimg"  />
           <p class="text-center">Eraser</p>
           </div>
           <div class="d-block mx-auto"> 
           <img src="./../../../../../assets/Images/category/category (8).jpg" class="categoryimg" />
           <p class="text-center">Eraser</p>
        </div>
        </div>
    </div>
</div>

<!-- MOBILE VIEW -->

<div class="container  d-block d-md-none d-lg-none ">
  <div class="row">
      <div class="col-md-12 d-block position-relative">
          <div class=" imgdivblock">
              <img src="./../../../../../assets/Images/category/category (1).jpg" class="categoryimg1" />
              <p>Eraser</p>
          </div>
          <div class="imgdivblock">
              <img src="./../../../../../assets/Images/category/category (2).jpg" class="categoryimg1"  />
              <p class="text-center">Eraser</p>
          </div>
          <div class="imgdivblock">
          <img src="./../../../../../assets/Images/category/category (3).jpg" class="categoryimg1"  />
          <p class="text-center">Eraser</p>
          </div>
          <div class="imgdivblock">
          <img src="./../../../../../assets/Images/category/category (4).jpg" class="categoryimg1" />
          <p class="text-center">Eraser</p>
          </div>
          <div class="imgdivblock">
          <img src="./../../../../../assets/Images/category/category (4).jpg" class="categoryimg1"/>
          <p class="text-center">Eraser</p>
          </div>
          <div class=" imgdivblock">
          <img src="./../../../../../assets/Images/category/category (6).jpg" class="categoryimg1"/>
          <p class="text-center">Eraser</p>
         </div>
         <div class="imgdivblock">
         <img src="./../../../../../assets/Images/category/category (7).jpg" class="categoryimg1"  />
         <p class="text-center">Eraser</p>
         </div>
         <div class="imgdivblock"> 
         <img src="./../../../../../assets/Images/category/category (8).jpg" class="categoryimg1" />
         <p class="text-center">Eraser</p>
      </div>
      </div>
  </div>
</div>

<!-- END -->

<!-- OUR SERVICE -->

<div class="container d-none d-md-block d-lg-block">
    <div class="row">
        <div class="col-md-12 text-center">
            <h4 ><span class="shopmenu">OUR SERVICE</span></h4>
        </div>
    </div>
    <div class="row position-relative">
        <div class="col-md mx-2 p-0 shadow">
            <img src="./../../../../../assets/Images/service/service (1).jpg" class="serviceimg" />
            <div class="servicecaption"><p class="fw-bolder my-2">Office supplies</p>
                <p class="text-center my-2">
            Get every office essential here at one place at the cheapest price. Best in quality product with long durability.
                </p></div>
        </div>
        <div class="col-md mx-2 p-0 shadow">
            <img src="./../../../../../assets/Images/service/service (2).jpg" class="serviceimg" />
            <div class="servicecaption"><p class="fw-bolder my-2">Kids supplies</p>
                </div>
        </div>
        <div class="col-md mx-2 p-0 shadow">
            <img src="./../../../../../assets/Images/service/service (3).jpg" class="serviceimg" />
            <div class="servicecaption">
            <p class="fw-bolder my-2">School</p></div>
        </div>
    </div>
</div>

<!-- MOBILE VIEW -->

<!--  <div class="container">
  <swiper [slidesPerView]="1" [spaceBetween]="30" [navigation]="true" [pagination]="{ clickable: true }"
  [controller]="{ control: controlledSwiper }">
  
  <div class="row position-relative">
    <ng-template swiperSlide>
      <div class="col-md-3">
          
          <img src="./../../../../../assets/Images/service/service (1).jpg" class="serviceimg" />
          <div class="servicecaption"><p class="serviceline my-2">Office supplies</p>
              <p class="text-center my-2">
          Get every office essential here at one place at the cheapest price. Best in quality product with long durability.
              </p></div>
    
      </div></ng-template>
      <ng-template swiperSlide>
      <div class="col-md-3 mx-auto">
          <img src="./../../../../../assets/Images/service/service (2).jpg" class="serviceimg" />
          <div class="servicecaption"><p class="serviceline my-2">Kids supplies</p>
              </div>
      </div></ng-template>
      <ng-template swiperSlide>
      <div class="col-md-3">
          <img src="./../../../../../assets/Images/service/service (3).jpg" class="serviceimg" />
          <div class="servicecaption">
          <p class="serviceline my-2">School</p></div>
      </div></ng-template>
  </div>
</div>  -->

<div class="container-fluid d-block d-md-none d-lg-none">
  <div class="row">
    <div class="col-md-12 text-center">
        <h4 ><span class="shopmenu">OUR SERVICE</span></h4>
    </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="col-md mx-2 p-0 shadow">
        <img src="./../../../../../assets/Images/service/service (1).jpg" class="serviceimg" />
        <div class="servicecaption"><p class="fw-bolder my-2">Office supplies</p>
            <p class="text-center my-2">
        Get every office essential here at one place at the cheapest price. Best in quality product with long durability.
            </p></div>
    </div>
    </div>
    <div class="carousel-item">
      <div class="col-md mx-2 p-0 shadow">
        <img src="./../../../../../assets/Images/service/service (2).jpg" class="serviceimg" />
        <div class="servicecaption"><p class="fw-bolder my-2">Kids supplies</p>
            </div>
    </div>
    </div>
    <div class="carousel-item">
      <div class="col-md mx-2 p-0 shadow">
        <img src="./../../../../../assets/Images/service/service (3).jpg" class="serviceimg" />
        <div class="servicecaption">
        <p class="fw-bolder my-2">School</p></div>
    </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</div>

<!-- Service End -->


<!-- products Start -->

<div class="row">
    <div class="col-md-12 text-center">
        <h4 ><span class="shopmenu">OUR PRODUCTS</span></h4>
    </div>
</div>

<div id="carouselExampleContro" class="carousel slide container" data-ride="carousel" data-interval="false" >
    <!-- <div class="row btnarrow">
            <p class="arrowleft "><a class="carousel-control-next" href="#carouselExampleContro" role="button" data-slide="prev" class="carousel-control-previous">
                <span class="carousel-control-prev-ico" aria-hidden="true"></span>
            <button type="button" class="btn productbtnl " ><i class='fas fa-caret-left' ></i></button></a></p>
         
            <p class="arrowright">
                <a class="carousel-control-next" href="#carouselExampleContro" role="button" data-slide="next">
                <span class="carousel-control-next-ico" aria-hidden="true"></span>
            <button type="button" class="btn productbtnr" ><i class='fas fa-caret-right' ></i></button></a></p>
        
    </div> -->
    <div class="carousel-inner" >
        
        <div id="productcard" class="carousel-item active carousel-transition">      
            <div class="row"  > 
                <div class="col-md-3">
                    <div class="card" style="width: 15rem; ">
                        <img src="./../../../../../assets/Images/product/thumb-4.jpg" class="card-img-top mx-auto my-3"  height="200px" alt="thumb"/>
                       
                        <div class="card-body">
                          <h5 class="card-title text-center">Eraser</h5>
                          <p class="card-text text-center">school Stationary</p>
                          <h5 class="card-title text-center">950</h5>
                        </div>
                      </div>
                    
                </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 15rem; ">
                            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto my-3"  height="200px" alt="thumb"/>
                           
                            <div class="card-body">
                              <h5 class="card-title text-center">Eraser</h5>
                              <p class="card-text text-center">school Stationary</p>
                              <h5 class="card-title text-center">950</h5>
                            </div>
                          </div>
                </div>
                    <div class="col-md-3">
                        
                        <div class="card" style="width: 15rem; ">
                            <img src="./../../../../../assets/Images/product/thumb-3.jpg" class="card-img-top mx-auto my-3" height="200px" alt="thumb"/>
                           
                            <div class="card-body">
                              <h5 class="card-title text-center">Eraser</h5>
                              <p class="card-text text-center">school Stationary</p>
                              <h5 class="card-title text-center">950</h5>
                            </div>
                          </div>
                </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 15rem; ">
                            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto my-3" height="200px" alt="thumb"/>
                           
                            <div class="card-body">
                              <h5 class="card-title text-center">Eraser</h5>
                              <p class="card-text text-center">school Stationary</p>
                              <h5 class="card-title text-center">950</h5>
                            </div>
                          </div>
                </div>
            </div>    
        </div>
        <div id="shopid"  class="carousel-item carousel-transition">
            <div class="row "  >
                <div class="col-md-3">
                    <div class="card" style="width: 15rem; ">
                        <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto my-3" height="200px" alt="thumb"/>
                       
                        <div class="card-body">
                          <h5 class="card-title text-center">Eraser</h5>
                          <p class="card-text text-center">school Stationary</p>
                          <h5 class="card-title text-center">950</h5>
                        </div>
                      </div>
                </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 15rem; ">
                        <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto my-3" height="200px" alt="thumb"/>
                       
                        <div class="card-body">
                          <h5 class="card-title text-center">Eraser</h5>
                          <p class="card-text text-center">school Stationary</p>
                          <h5 class="card-title text-center">950</h5>
                        </div>
                      </div> 
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 15rem; ">
                            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto my-3" height="200px" alt="thumb"/>
                           
                            <div class="card-body">
                              <h5 class="card-title text-center">Eraser</h5>
                              <p class="card-text text-center">school Stationary</p>
                              <h5 class="card-title text-center">950</h5>
                            </div>
                          </div>
                </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 15rem; ">
                            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto my-3" height="200px" alt="thumb"/>
                           
                            <div class="card-body">
                              <h5 class="card-title text-center">Eraser</h5>
                              <p class="card-text text-center">school Stationary</p>
                              <h5 class="card-title text-center">950</h5>
                            </div>
                          </div>
                </div>
            </div>
        </div>  

      </div>
      <a class="carousel-control-prev" href="#carouselExampleContro" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next productbtn" href="#carouselExampleContro" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

<!-- Feature End -->

<!-- ERASER SECTION -->

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <h4 ><span class="shopmenu">Eraser</span></h4>
       
    </div>
    <div class="col-md-2">
        <div >
            <a class="carousel-control-next" href="#carouselEraserControl" role="button" data-slide="prev" class="carousel-control-previous">
                <span class="carousel-control-prev-ico" aria-hidden="true"></span>
            <button type="button" class="btn erasebtnl " ><i class='fas fa-caret-left' id="caret"></i></button></a>
         
          
                <a class="carousel-control-next" href="#carouselEraserControl" role="button" data-slide="next" class="carousel-control-previous">
                <span class="carousel-control-next-ico" aria-hidden="true"></span>
            <button type="button" class="btn erasebtnr" ><i class='fas fa-caret-right' id="caret"></i></button></a>
        
    </div>
    </div>
</div>

<div id="carouselEraserControl" class="carousel slide container" data-ride="carousel" data-interval="false" >
    
    <div class="carousel-inner" >
        
      
        <div  class="carousel-item active carousel-transition">
            
           
         
          <div class="row"  >
                <div class="col-md-4 p-0">
                    <img src="./../../../../../assets/Images/service/service (1).jpg"  id="eraserimg" alt="thumb"/>
                    
                </div>
                    <div class="col-md p-0">
                        <div class="card labelcard" style="width: auto; ">
                            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto"  height="200px" alt="thumb"/>
                           
                            <div class="card-body">
                              <h5 class="card-title text-center">Eraser</h5>
                              <p class="card-text text-center">school Stationary</p>
                              <h5 class="card-title text-center">950</h5>
                            </div>
                          </div>
                </div>
                    <div class="col-md p-0">
                        
                        <div class="card labelcard" style="width: auto; ">
                            <img src="./../../../../../assets/Images/product/thumb-3.jpg" class="card-img-top mx-auto " height="200px" alt="thumb"/>
                           
                            <div class="card-body">
                              <h5 class="card-title text-center">Eraser</h5>
                              <p class="card-text text-center">school Stationary</p>
                              <h5 class="card-title text-center">950</h5>
                            </div>
                          </div>
                </div>
                    <div class="col-md p-0">
                        <div class="card labelcard" style="width: auto; ">
                            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto " height="200px" alt="thumb"/>
                           
                            <div class="card-body">
                              <h5 class="card-title text-center">Eraser</h5>
                              <p class="card-text text-center">school Stationary</p>
                              <h5 class="card-title text-center">950</h5>
                            </div>
                          </div>
                </div>
            </div>
           
        </div>
        <div id="shopid"  class="carousel-item carousel-transition">
            <div class="row "  >
                <div class="col-md-4 p-0">
                    <img src="./../../../../../assets/Images/service/service (1).jpg"  id="eraserimg" alt="thumb"/>
                </div>
                    <div class="col-md p-0">
                        <div class="card labelcard" style="width: auto; ">
                        <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto " height="200px" alt="thumb"/>
                       
                        <div class="card-body">
                          <h5 class="card-title text-center">Eraser</h5>
                          <p class="card-text text-center">school Stationary</p>
                          <h5 class="card-title text-center">950</h5>
                        </div>
                      </div> 
                    </div>
                    <div class="col-md p-0">
                        <div class="card labelcard" style="width: auto; ">
                            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto " height="200px" alt="thumb"/>
                           
                            <div class="card-body">
                              <h5 class="card-title text-center">Eraser</h5>
                              <p class="card-text text-center">school Stationary</p>
                              <h5 class="card-title text-center">950</h5>
                            </div>
                          </div>
                </div>
                    <div class="col-md p-0">
                        <div class="card labelcard" style="width: auto; ">
                            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto " height="200px" alt="thumb"/>
                           
                            <div class="card-body">
                              <h5 class="card-title text-center">Eraser</h5>
                              <p class="card-text text-center">school Stationary</p>
                              <h5 class="card-title text-center">950</h5>
                            </div>
                          </div>
                </div>
            </div>
        </div>  
                
      </div>
    </div>

<!--     END -->

<!-- Offers Section -->

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
            <div class="col-3">
                <i class='fa fa-truck' id="offericon"></i>
            </div>
            <div class="col-9">
                <h4 class="my-2" >FREE SHIPPING</h4><p id="offertext">For all orders above $100</p>
            </div>
        </div>
        </div>

        <div class="col-md-4 mx-auto">
            <div class="row">
                <div class="col-3">
                    <i class='fa fa-money' id="offericon"></i>
                </div>
                <div class="col-9">
                    <h4 class="my-2" >CASH ON DELIVERY</h4><p id="offertext">100% money back</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="row">
                <div class="col-3">
                    <i class='fa fa-headphones' id="offericon"></i>
                </div>
                <div class="col-9">
                    <h4 class="my-2" >24/7 SUPPORT</h4><p id="offertext">Answer for question</p>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Offers section end -->

<!-- Brand -->

<div class="row">
    <div class="col-md-12 text-center">
        <h4 ><span class="shopmenu">Brands</span></h4>
    </div>
</div>

<div id="carouselbrands" class="carousel slide container" data-ride="carousel" data-interval="false" >
    <div class="row btnarrow">
            <p class="arrowleft "><a class="carousel-control-next" href="#carouselbrands" role="button" data-slide="prev" class="carousel-control-previous">
                <span class="carousel-control-prev-ico" aria-hidden="true"></span>
            <button type="button" class="btn productbtnl " ><i class='fas fa-caret-left' ></i></button></a></p>
         
            <p class="arrowright">
                <a class="carousel-control-next" href="#carouselbrands" role="button" data-slide="next">
                <span class="carousel-control-next-ico" aria-hidden="true"></span>
            <button type="button" class="btn productbtnr" ><i class='fas fa-caret-right' ></i></button></a></p>
        
    </div>
    <div class="carousel-inner" >
        
       
        <div id="productcard" class="carousel-item active carousel-transition">
            
           
            <div class="row"  >
                
                <div class="col-md-3">
                   <div class="card">
                    <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto " height="200px" alt="thumb"/>
                   </div>
                  <div class="branddiv" ><button type="button" class="btn brandbtn">Brandit</button></div>
                    
                </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto " height="200px" alt="thumb"/>
                           </div>
                           <button type="button" class="btn brandbtn">Brandit</button>
                            
                </div>
                    <div class="col-md-3">
                     
                </div>
                    <div class="col-md-3">
                        
                </div>
            </div>
           
        </div>
        <div id="shopid"  class="carousel-item carousel-transition">
            <div class="row "  >
                <div class="col-md-3">
                   
                </div>
                    <div class="col-md-3">
                        
                    </div>
                    <div class="col-md-3">
                        
                </div>
                    <div class="col-md-3">
                        
                </div>
            </div>
        </div>          
      </div>
    </div>

<!-- Brands section end -->

<app-tab></app-tab>
