@media only screen and (max-width:768px) {
    .padding-top {
        padding-top: 15px;
    }
    .mt-sm-n {
        margin-top: -4.25rem!important;
    }
}

// .swiper-slide-product {
//     width: 155px!important;
//     margin-right: 10px!important;
// }

/* CATEGORY MENU */
.categoryimg{
    border-radius: 50%;
    border: 2px solid white;
    height: 100px;
    width: 100px;
    
}
.shopmenu{
    border-bottom: 2px solid var(--yellow);
    font-weight: bold;
}

/* END */

.serviceimg{
    height: 300px;
    width: 100%;
}
.servicecaption{
    background-color: #ffffffb8;
    position: absolute;
    bottom: 0;
    text-align: center;
   width: 100%;
}

/* .serviceline{
    font-weight: bold;
    background-color: none;
} */

/* SERVICES END */

/* PRODUCTS */

#carouselExampleControls{
    position: relative;
  }
  .carousel-transition{
    transition: transform 2s ease;
  }

  #productcard{
      position: relative;
  }

  .productbtn{
    width: 45px;
    height: 38px;
    position: absolute;
    top: 50%;
    background-color: green;
  }
  /* .arrowleft{
      z-index: 99;
      float: left !important;
  }
  .arrowright{
    z-index: 99;
    float: right !important;
}
.btnarrow{
    position: absolute;
    width: 100%;
    top: 50%;
    z-index: 99;
} */
.carousel-control-next{
    margin-right: 0 !important;
    padding: 0 !important;
    width: 5px;
}

.card-img-top{
    width: 200px;
}
/* .productbtnl{
    background-color: white;
    border-radius: 50%;
    padding: 10px 30px 10px 15px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 0.5px #ccc;
}
.productbtnr{
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 0.5px #ccc;
    margin-right: 80px;
    padding: 10px 30px 10px 20px;
} */

.fa-caret-left {
font-size: 30px;
}
.fa-caret-right{
    font-size: 30px;
}


.labelcard{
    height: 22rem;
}
#eraserimg{
    height: 22rem;
    width: 100%;
}

.erasebtnl{
    background-color: white;
    padding: 0;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    border-right: 1px solid black;
}
.erasebtnr{
    background-color: white;
    padding: 0;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
}
#caret{
    font-size: 15px;
}


/* OFFER SECTION */

#offericon{
  background-color: rgb(167, 166, 166); 
   font-size: 50px;
   color: black;
   padding: 10px 10px 10px 10px;
   
}

#offertext{
    font-size: 10px;
}

/* END */

/* BRAND SECTION */

.brandbtn{
    background-color: white;
    color: black;
    padding: 10px 30px 10px 30px;
    width: 70%;
    text-align: center;
    border-radius: 5px  ;
}
.branddiv{
    text-align: center;
    position: absolute;
    bottom: -5%;
}

/* END */


/*     BANNER */

.swiper-button-next , .swiper-button-prev {
    color: #212529;
    font-weight: bold;
    background-color: white;
    padding: 30px;
    border-radius: 50%;
}

.swiper-wrapper{
    height: 300px;
}
.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 30px;
}

@media (max-width: 700px){
    .swiper-button-next , .swiper-button-prev {
        color: #212529;
        font-weight: bold;
        background-color: white;
        padding: 30px;
        border-radius: 50%;
    }
    
    .swiper-wrapper{
        height: 200px;
    }
    .swiper-button-next:after, .swiper-button-prev:after{
        font-size: 25px;
    }
}

/* BANNER END */

/* MOBILE CATEGORY VIEW */

.imgdivblock{
    background-color: rgba(0, 0, 0, 0.76);
}
.categoryimg1{
    width: 100%;
    height: 200px;
}
.imgdivblock p {
    position: absolute;
    top: 0px;
}