<app-navigation type=2 [title]="_themeService.data.serviceHeading ?
                            _themeService.data.serviceHeading : 'Our Services'"></app-navigation>

<ng-container *ngIf="!skeleton">
<div class="service-area-wrapper mb-5">
    <div class="service-area-top parallax d-none d-md-block d-lg-block" [ngStyle]="{'background-image': getCover()}">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-5 m-auto text-center">
                    <div class="section-title section-title--light">
                        <h4 class="text-white mb-0">{{_themeService.data.serviceHeading ?
                            _themeService.data.serviceHeading : "Our Services"}}</h4>
                        <p class="text-white" *ngIf="_themeService.data.serviceTagLine">
                            {{_themeService.data.serviceTagLine}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service-content-area">
        <div class="d-block d-md-none d-lg-none">
            <br><br><br><br><br><br>
        </div>
        <div class="container">
            <div class="row mt-4" *ngIf="services.length>0">
                <div class="col-sm-6 col-lg-4" *ngFor="let service of services; let i = index">
                    <app-service-card [service]="service"></app-service-card>
                </div>
            </div>
        </div>
    </div>
</div>
</ng-container>

<ng-container *ngIf="skeleton">
    <div class="container">
        <div class="row my-5">
            <div class="col-md-12 text-center mb-5">
                <div class="p-skeleton-wrapper mx-auto">
                    <div class="p-skeleton">
                        <div class="p-skeleton__body">
                            <div class="p-skeleton__body--r-title mx-auto"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mx-auto my-3">
                <div class="p-skeleton-wrapper">
                    <div class="p-skeleton">
                        <div class="p-skeleton__body">
                            <div class="p-skeleton__body--r-image"></div>
                            <div class="p-skeleton__body">
                                <div class="p-skeleton__body--r-text">
                                    <div class="p-skeleton__body--r-s"></div>
                                    <div class="p-skeleton__body--r-full"></div>
                                    <div class="p-skeleton__body--r-full"></div>
                                    <div class="p-skeleton__body--r-s"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mx-auto my-3">
                <div class="p-skeleton-wrapper">
                    <div class="p-skeleton">
                        <div class="p-skeleton__body">
                            <div class="p-skeleton__body--r-image"></div>
                            <div class="p-skeleton__body">
                                <div class="p-skeleton__body--r-text">
                                    <div class="p-skeleton__body--r-s"></div>
                                    <div class="p-skeleton__body--r-full"></div>
                                    <div class="p-skeleton__body--r-full"></div>
                                    <div class="p-skeleton__body--r-s"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mx-auto my-3">
                <div class="p-skeleton-wrapper">
                    <div class="p-skeleton">
                        <div class="p-skeleton__body">
                            <div class="p-skeleton__body--r-image"></div>
                            <div class="p-skeleton__body">
                                <div class="p-skeleton__body--r-text">
                                    <div class="p-skeleton__body--r-s"></div>
                                    <div class="p-skeleton__body--r-full"></div>
                                    <div class="p-skeleton__body--r-full"></div>
                                    <div class="p-skeleton__body--r-s"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<app-tab></app-tab>