<!--  <div (click)="onProductTitleSelect(product.id)" class="card card-height">
    <div class="p-2">
        <div>
            <img [src]="product?.imgUrl" (load)="product.loaded = true" [hidden]="!product?.loaded" width="100%" alt="">
            <ng-container *ngIf="!product?.loaded">
                <div class="p-skeleton">
                    <div class="p-skeleton__body">
                        <div class="p-skeleton__body--r-image">
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="card-text">
                <strong class="price-size cursor-pointer">{{product?.itemName}}</strong>
                
                <h6 class="mt-2">
                    <span class="text-grey">
                        <b class="price-size ">Rs. <del class="text-muted">{{product?.itemMrpPrice}} </del> &nbsp;
                            {{product?.itemPrice}} </b>
                    </span>
                </h6>

                <ng-container *ngIf="!_themeService.data.enableCart && _themeService.data.enableEnquiryButton">
                    <a target="_blank"
                        href="https://wa.me/{{_themeService?.data?.whatsappNo}}?text=I%20am%20interested%20in%20your%20product%20{{product?.itemName}}"
                        class="btn-primary mt-1">{{_themeService.data?.productButton ?
                        _themeService.data?.productButton : "Enquiry Now"}}</a>
                </ng-container>
            </div>
        </div>

    </div>

</div>  -->


 <!-- <div class="card" style="border: none">
    <div class="card-body">
      <img [src]="product?.imgUrl" (load)="product.loaded = true" [hidden]="!product?.loaded" class="img-mobile" alt="product-image" />
      <h6 class="font-weight-bold sub-title mt-1">
        {{product?.itemName}}</h6>
      <p class="paragraph">&nbsp;{{product?.itemPrice}}</p>
    </div>
  </div>  -->

  <div class="card border productcard d-md-block d-lg-block d-none" 
  style="width: 22rem; height:auto" (click)="onProductTitleSelect(product.id)">
    <div class="text-center">
    <img [src]="product?.imgUrl" (load)="product.loaded = true" [hidden]="!product?.loaded" class="card-img-top mx-auto p-2 my-3"
       alt="thumb" /></div>
       <div class="card-body">
        <p class=" fs-20 p-0 m-0 fw-bold pt-4"> {{product?.itemName}}</p>
        <p class="card-text  fs-20 ">Rosehip Oil-infused Brightening </p>
        <h5 class="card-title  fw-bold pt-4">&#8377;{{product?.itemPrice}}</h5>
      </div>
  </div>

  
    <div class="card border d-md-none d-lg-none d-block" style="width: auto; " (click)="onProductTitleSelect(product.id)">
        <div class="text-center">
        <img [src]="product?.imgUrl" (load)="product.loaded = true" [hidden]="!product?.loaded" class=" mx-auto p-2 "
         alt="thumb" width="170px"/></div>
         <div class="card-body pb-1">
          <p class=" fs-16 p-0 m-0 fw-bold ">{{product?.itemName}}</p>
          <p class="fs-12 ">Rosehip Oil-infused </p>
          <h5 class=" fs-18 fw-bold">&#8377;{{product?.itemPrice}}</h5>
        </div>
    </div>
 