<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="p-skeleton-wrapper">
                <div class="p-skeleton">
                    <div class="p-skeleton__header">
                        <div class="p-skeleton__header--circle"></div>
                    </div>
                    <div class="p-skeleton__body">
                        <!-- <div class="p-skeleton__body--r-tags">
                            <div class="p-skeleton__body--r-tags-outer">
                                <div class="p-skeleton__body--r-tags-inner"></div>
                            </div>
                            <div class="p-skeleton__body--r-tags-outer">
                                <div class="p-skeleton__body--r-tags-inner"></div>
                            </div>
                        </div> -->
                        <div class="p-skeleton__body--r-title"></div>
                        <div class="p-skeleton__body--r-text">
                            <div class="p-skeleton__body--r-s"></div>
                            <div class="p-skeleton__body--r-full"></div>
                            <div class="p-skeleton__body--r-full"></div>
                            <div class="p-skeleton__body--r-m"></div>
                        </div>
                    </div>
                </div>
                
                
                <div class="p-skeleton">
                    <div class="p-skeleton__body">
                        <div class="p-skeleton__body--r-text">
                            <div class="p-skeleton__body--r-s p-skeleton__spacer-top"></div>
                            <div class="p-skeleton__body--r-full"></div>
                            <div class="p-skeleton__body--r-s"></div>
                            <div class="p-skeleton__body--r-full"></div>
                            <div class="p-skeleton__body--r-full"></div>
                            <div class="p-skeleton__body--r-m"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

