.mobiletext{
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.logininput{
    padding: 10px;
border-radius: 10px;
}
/* .loginbtn{
    padding: 10px;
} */
.socialmediabtn{
    padding: 12px;
    border-radius: 5px;
}
.signintext{
    position: absolute;
    top: -10px;
    left: 40%;
}
.socialdiv{
    margin-top: 55px;
}
.label{
    position: absolute;
    top: 16px;
    left: 25px;
    background-color: white;
}

/* MODEL */
/* #registermodel{
   z-index: 999;
} */