<!-- <app-navigation type=2 title="Signin"></app-navigation>

<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-lg-4 text-center col-md-4 col-10 mx-auto mt-5 mb-0">
            <a routerLink="{{_themeService.customDomain?'/home':'/'+_themeService.domainName+'/home'}}" *ngIf="!_themeService?.data?.brand_logo; else logoNotAvailable">
                {{_themeService?.data?.shopName}}
            </a>
            <ng-template #logoNotAvailable>
                <img routerLink="{{_themeService.customDomain?'/home':'/'+_themeService.domainName+'/home'}}" class="cursor-pointer outline-0"
                    [src]="_themeService?.data?.brand_logo">
            </ng-template>
        </div>
    </div>
    
    <div class="row mb-5 pb-5">
        <div class="col-md-12 text-center mt-2" *ngIf="!isOtpSent">
            <h4>Sign In</h4>
        </div>
        <div class="col-md-6 mx-auto mb-5" *ngIf="!isOtpSent">
            <form #formData="ngForm" autocomplete="off" class="border p-3" (ngSubmit)="sendOtp(formData)">
                <div class="row">
                    <div class="col-md-12">
                        <div class="single-input-item">
                            <label>
                                <input type="number" #mobileNumber="ngModel" name="mobileNumber" placeholder="Enter Your Mobile Number" ngModel required>
                                <p class="text-danger" *ngIf="mobileNumber.invalid && (mobileNumber.dirty || mobileNumber.touched)">Please Enter Mobile Number</p>
                                <div class="text-center">
                                    <span class="text-muted font-12">We'll never share your number with anyone else.</span>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <button class="btn-primary w-100" type="submit" *ngIf="!loader" [disabled]="formData.invalid">Send OTP</button>
                <button class="btn-primary w-100" type="button" disabled *ngIf="loader">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </form>
        </div>
        <div class="col-md-6 mx-auto mb-5" *ngIf="isOtpSent">
            <div class="col-md-12 text-center">
                <h4>Verify</h4>
            </div>
            <form #otpFormData="ngForm" class="border p-3" (ngSubmit)="vertifyOtp(otpFormData)">
                <div class="row">
                    <div class="col-md-12">
                        <div class="single-input-item">
                            <label>
                                <input type="number" #otp="ngModel" name="otp" placeholder="Enter OTP" ngModel required>
                                <p class="text-danger" *ngIf="otp.invalid && (otp.dirty || otp.touched)">Please Enter OTP</p>
                                <a (click)="changeNumber()" class="font-12 text-secondary cursor-pointer">Do you want to change number?</a>
                            </label>
                        </div>
                    </div>
                </div>
                <button class="btn-primary w-100" type="submit" [disabled]="otpFormData.invalid" *ngIf="!loader">Verify OTP</button>
                <button class="btn-primary w-100" type="button" disabled *ngIf="loader">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </form>
        </div>
        
    </div>
</div> -->

 <div class="container mb-3">
    <p class="text-center fs-14">Get 15% MyGlammXO Points back on every order</p>
    <div class="text-center my-2">
        <img src="./../../../../../assets/Images/logo.jpg" >
    </div></div>
    <ul class="border-bottom">
        <li class="active ml-3"><span class="fw-bold fs-14 mobiletext">Mobile Number</span></li>
    </ul>
    <div class="container">
    <div class="form ">
        <form>
            <div class="row mb-3">
                <div class="col-4">
                    <label class="fs-10 m-0 p-0 label clsecondarytext">COUNTRY CODE</label><br>
                    <input type="number" class="w-100 p-2 border rounded fw-bold" placeholder="IND +91" >
        <!--  <select class="w-100 p-2 border rounded fs-14 fw-bold">
             <option>IND +91</option>
             <option>GEM +49</option>
             <option>NTH +31</option>
         </select> -->
                </div>
                <div class="col-8">
                    <label class="fs-10 m-0 p-0 label clsecondarytext">*MOBILE NUMBER</label><br>
         <input type="number" class="w-100 p-2 border rounded" >
                </div>
         
            </div>
            
         <button class="btn-dark fw-bold w-100 fs-14 my-3 p-3 border-0  p-3 loginbtn " data-toggle="modal" data-target="#exampleModalCenter">CONTINUE</button>
         
        </form> </div>
        <!--  REGISTER MODEL  -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
               <!--  <app-register></app-register> -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
          
   
    <!-- <div class="position-relative">
        <hr>
    <span class="bg-white signintext fs-12">or continue with</span>
    </div>
    
    <div class="socialdiv d-flex justify-content-between">
        <button class="bg-white border d-flex w-100 border-dark pr-0 socialmediabtn fs-12">
            <img src="./../../../../../assets/Images/social_media_icons/facebook.png" 
            height="20px" width="20px" class="d-flex" alt="facebook">
            <span class="ml-2 fw-bold my-auto d-flex">Connect with Facebook</span></button>
            <div class="w-4" style="width: 10px;"></div>
        <button class="bg-white border w-100 border-dark pr-0 d-flex socialmediabtn fs-12">
            <img src="./../../../../../assets/Images/social_media_icons/google.png" 
            height="20px" width="20px" class="d-flex" alt="google">
            <span class="ml-2 fw-bold my-auto d-flex">Connect with Google</span></button>
    </div> -->
    <div class="text-center my-3">
        <p class="fs-12 fw-bold py-3"><span class="clsecondarytext">By signing up I agree to the</span> Terms & Conditions.</p>
    </div>
    
</div>

<!-- MOBILE DESIGN -->
<!-- <div class="d-block d-md-none d-lg-none">
 <app-navigation></app-navigation>
<div class="container px-4 mt-4">
    <p class="text-center fw-bold fs-12"> WELCOME TO</p>
    <div class="text-center">
        <img src="./../../../../../assets/Images/logo.jpg" class="mx-auto"/>
    </div>
    
    <div class="form my-5">
        <form>
            <input type="number" class="border-dark rounded-3 w-100 logininput" placeholder="Mobile Number">
            <button class="btn-dark fw-bold w-100 fs-14 my-3 p-3 rounded border-0  p-3 loginbtn">SIGN IN</button>
        </form>
    </div>
    <div class="position-relative">
        <hr>
    <span class="bg-white signintext">Sign in using</span>
    </div>
    
    <div class="socialdiv d-flex justify-content-between">
        <button class="bg-white border d-flex w-100 border-dark  socialmediabtn fs-12">
            <img src="./../../../../../assets/Images/social_media_icons/facebook.png" 
            height="20px" width="20px" class="d-flex" alt="facebook"><span class="ml-4 fw-bold my-auto d-flex">Facebook</span></button>
            <div class="w-4" style="width: 10px;"></div>
        <button class="bg-white border w-100 border-dark d-flex socialmediabtn fs-12">
            <img src="./../../../../../assets/Images/social_media_icons/google.png" 
            height="20px" width="20px" class="d-flex" alt="google"><span class="ml-4 fw-bold my-auto d-flex">Google</span></button>
    </div>
    <div class="text-center my-3">
        <p class="fs-12 fw-bold py-3">By signing up I agree to the Terms & Conditions.</p>
    </div>
</div>
</div> -->