@media(max-width:768px) {
    .products-sm {
        padding:3px !important;
    }
}

/* .img-hover-zoom  {
    width: 100%;
    transition: 0.5s all ease-in-out;
    overflow: hidden;
    height: 200px;
}

.img-hover-zoom:hover .card-img-top {
    transform: scale(1.5);
}
.img-hover-zoom .card-img-top {
    transition: transform .5s ease;
  } */
  .card-img-top {
    width: 80%;
    transition: 0.5s all ease-in-out;
    overflow: hidden;
    height: 180px;
}

.productcard:hover {.card-img-top {
    transform: scale(1.2);
}
}
.productcard{
    transition: box-shadow 1s;
}
.productcard:hover{
    box-shadow: 0 0 6px 0 hsl(0deg 0% 48% / 33%);
}
.card-text{
    opacity: .7;
    font-size: 20px !important;
}
.card-title{
    font-size: 27px;
}
.shopmenu{
    border-bottom: 2px solid var(--yellow);
    font-weight: bold;
    border-width: thick;
}