<app-navigation type=2 title="Products"></app-navigation>

<!--  <ng-container *ngIf="!skeleton">

    <section class="jumbotron jumbotron-fluid my-0 bg-transparent" data-aos="fade-up" *ngIf="products.length!=0">
        <div class="container">
            <div class="row" data-aos="zoom-in">
                <div class="col-lg-3 col-md-3 col-6 products-sm my-2" *ngFor="let product of products;">
                    <app-product-card [product]="product"></app-product-card>
                </div>
            </div>
        </div>
    </section>
</ng-container> -->



<!-- <ng-container *ngIf="skeleton">
    <div class="container">
        <div class="row my-5">
            <div class="col-md-12 text-center mb-5">
                <div class="p-skeleton-wrapper mx-auto">
                    <div class="p-skeleton">
                        <div class="p-skeleton__body">
                            <div class="p-skeleton__body--r-title mx-auto"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mx-auto my-3">
                <div class="p-skeleton-wrapper">
                    <div class="p-skeleton">
                        <div class="p-skeleton__body">
                            <div class="p-skeleton__body--r-image"></div>
                            <div class="p-skeleton__body">
                                <div class="p-skeleton__body--r-text">
                                    <div class="p-skeleton__body--r-s"></div>
                                    <div class="p-skeleton__body--r-full"></div>
                                    <div class="p-skeleton__body--r-full"></div>
                                    <div class="p-skeleton__body--r-s"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mx-auto my-3">
                <div class="p-skeleton-wrapper">
                    <div class="p-skeleton">
                        <div class="p-skeleton__body">
                            <div class="p-skeleton__body--r-image"></div>
                            <div class="p-skeleton__body">
                                <div class="p-skeleton__body--r-text">
                                    <div class="p-skeleton__body--r-s"></div>
                                    <div class="p-skeleton__body--r-full"></div>
                                    <div class="p-skeleton__body--r-full"></div>
                                    <div class="p-skeleton__body--r-s"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mx-auto my-3">
                <div class="p-skeleton-wrapper">
                    <div class="p-skeleton">
                        <div class="p-skeleton__body">
                            <div class="p-skeleton__body--r-image"></div>
                            <div class="p-skeleton__body">
                                <div class="p-skeleton__body--r-text">
                                    <div class="p-skeleton__body--r-s"></div>
                                    <div class="p-skeleton__body--r-full"></div>
                                    <div class="p-skeleton__body--r-full"></div>
                                    <div class="p-skeleton__body--r-s"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>  -->





<div class="bg-white">
<div class="container mt-5 d-none d-md-block d-lg-block">
    <div class="row mb-2">
      <div class="col-md-12 text-center">
        <h4><span class="shopmenu fw-bold " style="font-size: 48px;">ALL PRODUCTS</span></h4>
      </div>
    </div>
    <div class="row d-flex justify-content-between mt-5" *ngIf="products.length!=0">
        <div class="d-flex mb-4" *ngFor="let product of products;">
          <!-- <div class="card border productcard" style="width: 20rem; height:auto">
            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto p-2 my-3"
               alt="thumb" />
               <div class="card-body">
                <p class="card-title fs-20 p-0 m-0 fw-bold pt-4"> Manish Malhotra Kesar</p>
                <p class="card-text  fs-20 pb-4">Rosehip Oil-infused Brightening </p>
                <h5 class="card-title  fw-bold pt-4">&#8377; 950</h5>
              </div>
          </div> -->
          <app-product-card [product]="product"></app-product-card>
        </div>
       <!--  <div class="d-flex">
          <div class="card border productcard" style="width: 20rem; height:auto">
            <img src="./../../../../../assets/Images/product/thumb-3.jpg" class="card-img-top mx-auto p-2 my-3"
              alt="thumb" />
              <div class="card-body">
                <p class="card-title fs-20 p-0 m-0 fw-bold pt-4"> Manish Malhotra Kesar</p>
                <p class="card-text  fs-13 pb-4">Rosehip Oil-infused Brightening </p>
                <h5 class="card-title  fw-bold pt-4">&#8377; 950</h5>
              </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="card border productcard" style="width: 20rem; height:auto">
            
            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto p-2 my-3"
               alt="thumb" />

               <div class="card-body">
                <p class="card-title fs-20 p-0 m-0 fw-bold pt-4"> Manish Malhotra Kesar</p>
                <p class="card-text  fs-13 pb-4">Rosehip Oil-infused Brightening </p>
                <h5 class="card-title  fw-bold pt-4">&#8377; 950</h5>
              </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between mt-5">
        <div class="d-flex">
          <div class="card border productcard" style="width: 20rem; height:auto">
            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto p-2 my-3"
               alt="thumb" />
               <div class="card-body">
                <p class="card-title fs-20 p-0 m-0 fw-bold pt-4"> Manish Malhotra Kesar</p>
                <p class="card-text  fs-13 pb-4">Rosehip Oil-infused Brightening </p>
                <h5 class="card-title  fw-bold pt-4">&#8377; 950</h5>
              </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="card border productcard" style="width: 20rem; height:auto">
            <img src="./../../../../../assets/Images/product/thumb-3.jpg" class="card-img-top mx-auto p-2 my-3"
              alt="thumb" />
              <div class="card-body">
                <p class="card-title fs-20 p-0 m-0 fw-bold pt-4"> Manish Malhotra Kesar</p>
                <p class="card-text  fs-13 pb-4">Rosehip Oil-infused Brightening </p>
                <h5 class="card-title  fw-bold pt-4">&#8377; 950</h5>
              </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="card border productcard" style="width: 20rem; height:auto">
            
            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto p-2 my-3"
               alt="thumb" />

               <div class="card-body">
                <p class="card-title fs-20 p-0 m-0 fw-bold pt-4"> Manish Malhotra Kesar</p>
                <p class="card-text  fs-13 pb-4">Rosehip Oil-infused Brightening </p>
                <h5 class="card-title  fw-bold pt-4">&#8377; 950</h5>
              </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between mt-5">
        <div class="d-flex">
          <div class="card border productcard" style="width: 20rem; height:auto">
            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto p-2 my-3"
               alt="thumb" />
               <div class="card-body">
                <p class="card-title fs-20 p-0 m-0 fw-bold pt-4"> Manish Malhotra Kesar</p>
                <p class="card-text  fs-13 pb-4">Rosehip Oil-infused Brightening </p>
                <h5 class="card-title  fw-bold pt-4">&#8377; 950</h5>
              </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="card border productcard" style="width: 20rem; height:auto">
            <img src="./../../../../../assets/Images/product/thumb-3.jpg" class="card-img-top mx-auto p-2 my-3"
              alt="thumb" /> 
              <div class="card-body">
                <p class="card-title fs-20 p-0 m-0 fw-bold pt-4"> Manish Malhotra Kesar</p>
                <p class="card-text  fs-13 pb-4">Rosehip Oil-infused Brightening </p>
                <h5 class="card-title  fw-bold pt-4">&#8377; 950</h5>
              </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="card border productcard" style="width: 20rem; height:auto">
            
            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="card-img-top mx-auto p-2 my-3"
               alt="thumb" />

            <div class="card-body">
              <p class="card-title fs-20 p-0 m-0 fw-bold pt-4"> Manish Malhotra Kesar</p>
              <p class="card-text  fs-13 pb-4">Rosehip Oil-infused Brightening </p>
              <h5 class="card-title  fw-bold pt-4">&#8377; 950</h5>
            </div>
          </div>
        </div>
      </div> -->
      </div>
    </div>

<!-- RESPONSIVE -->

<div class="container mt-5 d-block d-md-none d-lg-none">
   
    <div class="row d-flex justify-content-between mt-3 px-1" *ngIf="products.length!=0">
        <div class="col-6 d-flex p-0 m-0 px-1 my-2" *ngFor="let product of _themeService.data?.products?.slice(0,8);let i = index">
          <!-- <div class="card border " style="width: auto; ">
            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class=" mx-auto p-2 "
               alt="thumb" />
               <div class="card-body pb-1">
                <p class="card-title fs-12 p-0 m-0 fw-bold pb-4"> Manish Malhotra Kesar</p>
                <h5 class="card-title fs-16 fw-bold">&#8377; 950</h5>
              </div>
          </div> -->
          <app-product-card [product]="product"></app-product-card>
        </div>
       <!--  <div class="col-6 d-flex p-0 m-0 px-1">
          <div class="card border" style="width: auto; ">
            <img src="./../../../../../assets/Images/product/thumb-3.jpg" class="mx-auto p-2 "
              alt="thumb" />
              <div class="card-body pb-1">
                <p class="card-title fs-12 p-0 m-0 fw-bold pb-4"> Manish Malhotra Kesar</p>
                <h5 class="card-title fs-16 fw-bold">&#8377; 950</h5>
              </div>
          </div>
        </div> -->
        
      </div>
     <!--  <div class="row d-flex justify-content-between mt-2 px-1">
        <div class="col-6 d-flex p-0 m-0 px-1">
          <div class="card border" style="width: auto; ">
            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class="mx-auto p-2"
               alt="thumb" />
               <div class="card-body pb-1">
                <p class="card-title fs-12 p-0 m-0 fw-bold pb-4"> Manish Malhotra Kesar</p>
                <h5 class="card-title fs-16 fw-bold">&#8377; 950</h5>
              </div>
          </div>
        </div>
        <div class="col-6 d-flex p-0 m-0 px-1">
          <div class="card border" style="width: auto; ">
            <img src="./../../../../../assets/Images/product/thumb-3.jpg" class=" mx-auto p-2 "
              alt="thumb" />
              <div class="card-body pb-1">
                <p class="card-title fs-12 p-0 m-0 fw-bold pb-4"> Manish Malhotra Kesar</p>
                <h5 class="card-title  fs-16 fw-bold">&#8377; 950</h5>
              </div>
          </div>
        </div>
        
      </div>
      <div class="row d-flex justify-content-between mt-2 px-1">
        <div class="col-6 d-flex p-0 m-0 px-1">
          <div class="card border " style="width: auto; ">
            <img src="./../../../../../assets/Images/product/thumb-2.jpg" class=" mx-auto p-2"
               alt="thumb" />
               <div class="card-body pb-1">
                <p class="card-title fs-12 p-0 m-0 fw-bold pb-4"> Manish Malhotra Kesar</p>
                <h5 class="card-title fs-16 fw-bold">&#8377; 950</h5>
              </div>
          </div>
        </div>
        <div class="col-6 d-flex p-0 m-0 px-1">
          <div class="card border " style="width: auto; ">
            <img src="./../../../../../assets/Images/product/thumb-3.jpg" class="mx-auto p-2 "
              alt="thumb" /> 
              <div class="card-body pb-1">
                <p class="card-title fs-12 p-0 m-0 fw-bold pb-4"> Manish Malhotra Kesar</p>
                <h5 class="card-title fs-16 fw-bold">&#8377; 950</h5>
              </div>
          </div>
        </div>
      </div> -->
      </div>

