<div class="footer">
    <div class="container pt-5">
        <div class="row ">
            <div class="col-md-3">
                <img src="../../../../../assets/Images/app__logo.png" height="40px"/>
                <p  > euismod tincidunt ut laoreet dolore magna aliquam erat
                    volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper.</p>
                    <p>&#169; copyright <span id="onlinebizz">onlinebizz</span></p>
                    <span>Stay Connected | 
                        <i class='fa fa-facebook'></i>
                        <i class='fa fa-twitter'></i>
                        <i class='fa fa-instagram'></i>
                    </span>
                
            </div>
            <div class="col-md-2">
                <h5 >Links</h5>
                    <ul class="mt-3 p-0 " >
                        <li >Home</li>
                        <li >Service</li>
                        <li >Product</li>
                        <li >Gallery</li>
                        <li >Contact Us</li>
                    </ul>
 
            </div>
            <div class="col-md-3">
                <h5 >Contacts</h5>      
                    <ul class="mt-3 p-0">
                        <li ><i class='fa fa-map-marker pr-2'></i>14 navkar complex university road <br>Udaipur, Gujarat -313001 India</li>            
                        <li ><i class='fa fa-envelope-open pr-2'></i>demo@gmail.com</li>
                        <li ><i class='fa fa-phone pr-2'></i>88888888</li>
                        
                      </ul>
                
            </div>
            <div class="col-md-2">
                <h5 >Category</h5>
                        <ul class="mt-3 p-0">
                            <li >Erase</li>
                            <li >Calculator</li>
                            <li >Pensil</li>
                            <li >Stapler</li>
                            <li >Notebook</li>
                        </ul>
                
            </div>
            <div class="col-md-2">
                <h5 >Know More</h5>
                    <ul class="mt-3 p-0">
                         <li >Store locator</li>
                            <li >Terms & Condition</li>
                            <li >Privacy policy</li>
                            <li >Steady rewards</li>
                            <li >Shopping & delivery Policy</li>
                             <li >Return & Replacement</li>
                      </ul>
                
            </div>
        </div>
    </div>
</div>